<section class="top_corusul ">
    <div class="container margin-for">
        <div class="corusel_title">
            <h3 class="title">
                Top tovarlar
            </h3>
            <span>

            </span>
            <a href="products.html">
                <button class="btn my-btn">Hammasi</button>
            </a>
        </div>
        <div class="wrapper">
            <i id="left" class='bx bxs-chevron-left'><img src="images/Preview.svg" alt=""></i>
            <ul class="carousel">
                <li class="card">
                    <a href="products.html">
                        <span class="img-absolute"><img src="images/Korzinka.svg" alt=""></span>
                        <div class="img"><img src="images/Top_product.png" alt="img" draggable="false"></div>
                        <div style="padding: 12px; padding-bottom: 0; width: 100%;">
                            <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                            <h3>Код товара: R10030027</h3>
                            <div class="card-right">
                                <span>Топ продаж</span>
                                <span>21000 so’m</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="products.html">
                        <span class="img-absolute"><img src="images/Korzinka.svg" alt=""></span>
                        <div class="img"><img src="images/Top_product.png" alt="img" draggable="false"></div>
                        <div style="padding: 12px; padding-bottom: 0; width: 100%;">
                            <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                            <h3>Код товара: R10030027</h3>
                            <div class="card-right">
                                <span>Топ продаж</span>
                                <span>21000 so’m</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="products.html">
                        <span class="img-absolute"><img src="images/Korzinka.svg" alt=""></span>
                        <div class="img"><img src="images/Top_product.png" alt="img" draggable="false"></div>
                        <div style="padding: 12px; padding-bottom: 0; width: 100%;">
                            <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                            <h3>Код товара: R10030027</h3>
                            <div class="card-right">
                                <span>Топ продаж</span>
                                <span>21000 so’m</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="products.html">
                        <span class="img-absolute"><img src="images/Korzinka.svg" alt=""></span>
                        <div class="img"><img src="images/Top_product.png" alt="img" draggable="false"></div>
                        <div style="padding: 12px; padding-bottom: 0; width: 100%;">
                            <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                            <h3>Код товара: R10030027</h3>
                            <div class="card-right">
                                <span>Топ продаж</span>
                                <span>21000 so’m</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="products.html">
                        <span class="img-absolute"><img src="images/Korzinka.svg" alt=""></span>
                        <div class="img"><img src="images/Top_product.png" alt="img" draggable="false"></div>
                        <div style="padding: 12px; padding-bottom: 0; width: 100%;">
                            <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                            <h3>Код товара: R10030027</h3>
                            <div class="card-right">
                                <span>Топ продаж</span>
                                <span>21000 so’m</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="products.html">
                        <span class="img-absolute"><img src="images/Korzinka.svg" alt=""></span>
                        <div class="img"><img src="images/Top_product.png" alt="img" draggable="false"></div>
                        <div style="padding: 12px; padding-bottom: 0; width: 100%;">
                            <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                            <h3>Код товара: R10030027</h3>
                            <div class="card-right">
                                <span>Топ продаж</span>
                                <span>21000 so’m</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="products.html">
                        <span class="img-absolute"><img src="images/Korzinka.svg" alt=""></span>
                        <div class="img"><img src="images/Top_product.png" alt="img" draggable="false"></div>
                        <div style="padding: 12px; padding-bottom: 0; width: 100%;">
                            <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                            <h3>Код товара: R10030027</h3>
                            <div class="card-right">
                                <span>Топ продаж</span>
                                <span>21000 so’m</span>
                            </div>
                        </div>
                    </a>
                </li>
                
            </ul>
            <i id="right" class='bx bxs-chevron-right'><img src="images/Next.svg" alt=""></i>
        </div>
    </div>

</section>