<section id="carousel-brends" class="top_corusul">
    <div class="container">
        <h2 style="margin: 0; padding: 0; font-size: 22px; color: black; font-weight: 800;"> Mashhur brendlar</h2>
        <div class="wrapper1">
            <i id="left" class='bx bxs-chevron-left'><img src="images/Preview.svg" alt=""></i>
            <ul class="brend carousel1">
                <li class="card1 ">
                    <a href="">
                        <div class="img"><img src="images/Artel.png" alt="img" draggable="false"></div>
                    </a>
                </li>
                <li class="card1">
                    <a href="">
                        <div class="img"><img src="images/Hp.png" alt="img" draggable="false"></div>
                    </a>
                </li>
                <li class="card1">
                    <a href="">
                        <div class="img"><img src="images/LG.png" alt="img" draggable="false"></div>
                    </a>
                </li>
                <li class="card1">
                    <a href="">
                        <div class="img"><img src="images/Samsung.png" alt="img" draggable="false"></div>
                    </a>
                </li>
                <li class="card1">
                    <a href="">
                        <div class="img"><img src="images/Xiami.png" alt="img" draggable="false"></div>
                    </a>
                </li>
                <li class="card1">
                    <a href="">
                        <div class="img"><img src="images/Artel.png" alt="img" draggable="false"></div>
                    </a>
                </li>
                <li class="card1">
                    <a href="">
                        <div class="img"><img src="images/Hp.png" alt="img" draggable="false"></div>
                    </a>
                </li>
                <li class="card1">
                    <a href="">
                        <div class="img"><img src="images/LG.png" alt="img" draggable="false"></div>
                    </a>
                </li>
                <li class="card1">
                    <a href="">
                        <div class="img"><img src="images/Samsung.png" alt="img" draggable="false"></div>
                    </a>
                </li>
            </ul>
            <i id="right" class='bx bxs-chevron-right'><img src="images/Next.svg" alt=""></i>
        </div>
    </div>

</section>