<div class="container ">
    <div class="delivery-service row">
        <div class="col-md-6 col-xl-12">
            <h4>Yetkazib berish xizmati</h4>
            <p>Bizda Respublika bo’yicha viloyat markazlariga va tuman markazlariga yetkazib berish xizmati mavjud. </p>
        </div>
        <div class="col-md-6 col-xl-12">
            <img src="images/delivery.png" alt="">
        </div>
    </div>
</div>