<footer>
    <div class="container">
        <!-- Footer -->
        <div class="row footer-info">
            <div class="col-sm-4 col-md-3 col-xl-3">
                <a href="index.html">
                    <img src="images/Sp_house_footer.png" alt="">
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-xl-7 footer-body">
                <div class="row">
                    <div class="col-md-6 body-li-info">
                        <ul>
                            <li><a href="#!">Biz bilan aloqa</a></li>
                            <li><a href="#!">+998 78 129 60 60</a></li>
                            <li class="body-none-url"><a href="#!">Toshkent shahar, Muqumiy ko’chasi, 21-uy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><a href="index.html#carousel-brends">Brendlar</a></li>
                            <li><a href="products.html">Tovarlar</a></li>
                            <li class="body-none-url"><a href="index.html#advantages">Afzalliklarimiz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address-footer"><a href="#!">Toshkent shahar, Muqumiy ko’chasi, 21-uy</a></div>
            </div>
            <div class="col-6 col-sm-2 col-md-3 col-xl-2">
                <a href="#!" class="scan-me">
                    <img src="images/Scan_me.png" alt="">
                </a>
            </div>
        </div>
        <div class="address-footer-bottom"><a href="#!">Toshkent shahar, Muqumiy ko’chasi, 21-uy</a></div>
    </div>
</footer>
</body>
<script src="js/jquery-3.5.1.min.js"></script>
<!-- <script src="js/jquery.fancybox.min.js"></script> -->
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="js/main.js"></script>


</html>