<nav aria-label="Page navigation" style="margin-left: auto;">
    <ul class="pagination mb-1">
        <li class='page-item'>
            <button class="page-link">
                <img src="images/doublePreview.png" alt="">
            </button>
        </li>
        <li class='page-item'>
            <button class="page-link">
                <img src="images/PreviewPagi.svg" alt="">
            </button>
        </li>
        <li class='page-item active'>
            <button class="page-link">
                1
            </button>
        </li>
        <li class='page-item'>
            <button class="page-link">
                2
            </button>
        </li>
        <li class='page-item'>
            <button class="page-link">
                3
            </button>
        </li>

        <li>
            <button class="page-link">…</button>
        </li>
        <li class='disabled'>
            <button class="page-link">
                <img src="images/NextPagi.png" alt="">
            </button>
        </li>
        <li class="page-item">
            <button class="page-link">
                <img src="images/doubleNext.png" alt="">
            </button>
        </li>

    </ul>
</nav>