<div class="card">
	<a href="">
		<div class="body-top">
			<span class="top-absolute">12100 so'm</span>
			<div class="img"><img src="images/bolt.png" alt="img" draggable="false"></div>
		</div>
		<div style="padding: 12px; width: 100%;">
			<h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
			<h3>Код товара: R10030027</h3>
		</div>
	</a>
</div>