@@include('parts/header.html')
<section class="accaunt-all">
    <div class="container">
        <h2>Profilni taxrirlash</h2>
        <div class="account-info">
            <div class="account-img">
                <!-- <input type="file" accept="image/*"> -->
                <img src="images/avatar-default.png" alt="">
            </div>
            <form class="row">
                <div class="col-sm-12 col-md-6"><label for="">To'liq ism</label><input type="text"></div>
                <div class="col-sm-12 col-md-6"><label for="">Tug'ilgan kun</label><input type="text"></div>
                <div class="col-sm-12 col-md-6"><label for="">Telefon</label><input type="tel" name="phone" id="phone"
                        class="phone" placeholder="+998(__)___-__-__" /></div>
                <div class="col-sm-12 col-md-6"><label for="">Manzil</label><input type="text"></div>
            </form>
            <div>
                <button class="btn">Saqlash</button>
            </div>
        </div>
    </div>
</section>
@@include('parts/footer.html')