@@include('parts/header.html')
<main style="background-color: #F6F9FC;">
    <div class="top-section">
        @@include('parts/carousel-product.html')
    </div>
    <section class="info-product">
        <div class="container">
            <div class="info-product-header">
                <div class="info-product-all">
                    <h3 class="title">
                        Kir yuvish mashinasi
                    </h3>
                    <a href="products.html">
                        Hammasi >
                    </a>
                </div>
                <div class="info-product-body d-flex row">
                    <div class="col-md-7 col-xl-8">
                        <div class="product-body-left">
                            <ul class="row">
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-xl-4">
                        <div class="product-body-right">
                            <a href="products.html">
                                <span>Kir yuvish mashinasi haqida ma'lumot</span>
                                <img src="./images/WashingMachine.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="info-product">
        <div class="container">
            <div class="info-product-header">
                <div class="info-product-all">
                    <h3 class="title">
                        Kir yuvish mashinasi
                    </h3>
                    <a href="products.html">
                        Hammasi >
                    </a>
                </div>
                <div class="info-product-body d-flex row">
                    <div class="col-md-7 col-xl-8">
                        <div class="product-body-left">
                            <ul class="row">
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-xl-4">
                        <div class="product-body-right">
                            <a href="products.html">
                                <span>Kir yuvish mashinasi haqida ma'lumot</span>
                                <img src="./images/WashingMachine.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="info-product">
        <div class="container">
            <div class="info-product-header">
                <div class="info-product-all">
                    <h3 class="title">
                        Kir yuvish mashinasi
                    </h3>
                    <a href="products.html">
                        Hammasi >
                    </a>
                </div>
                <div class="info-product-body d-flex row">
                    <div class="col-md-7 col-xl-8">
                        <div class="product-body-left">
                            <ul class="row">
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-xl-4">
                        <div class="product-body-right">
                            <a href="products.html">
                                <span>Kir yuvish mashinasi haqida ma'lumot</span>
                                <img src="./images/WashingMachine.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="info-product">
        <div class="container">
            <div class="info-product-header">
                <div class="info-product-all">
                    <h3 class="title">
                        Kir yuvish mashinasi
                    </h3>
                    <a href="products.html">
                        Hammasi >
                    </a>
                </div>
                <div class="info-product-body d-flex row">
                    <div class="col-md-7 col-xl-8">
                        <div class="product-body-left">
                            <ul class="row">
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6 col-md-6 col-lg-4 col-xl-3 body-none">
                                    <li class=" card">
                                        <a href="product-id.html">
                                            <div class="body-top">
                                                <span class="top-absolute">12100 so'm</span>
                                                <div class="img"><img src="images/bolt.png" alt="img" draggable="false">
                                                </div>
                                            </div>
                                            <div class="card-body-info">
                                                <h2>Штечер вход трубки испар ВБ 09-12-18Kbtu</h2>
                                                <h3>Код товара: R10030027</h3>
                                            </div>
                                        </a>
                                    </li>
                                </div>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-xl-4">
                        <div class="product-body-right">
                            <a href="products.html">
                                <span>Kir yuvish mashinasi haqida ma'lumot</span>
                                <img src="./images/WashingMachine.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div>
        @@include('parts/carousel-brends.html')
    </div>
    <section id="advantages" style="margin-bottom: 30px;">
        <div class="container ">
            <div class="advantages-title">
                <h2> Bizning afzalliklarimiz
                </h2>
                <div class="advantages_info">
                    <h2 style="font-size: 28px;">Lorem Ipsum</h2>
                    <p style="color: black;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget
                        mauris ipsum. Suspendisse
                        imperdiet dapibus nisi eu consectetur. Vestibulum sit amet ipsum nec eros varius consequat quis
                        sit
                        amet nisl. Sed vitae volutpat est. Quisque interdum nisl non viverra facilisis. Etiam rutrum at
                        dolor posuere lacinia. Proin fermentum ex aliquam risus imperdiet, non pretium justo
                        scelerisque.
                        Phasellus vitae lacinia sapien. In non augue ex. Phasellus semper urna vitae quam placerat, at
                        rhoncus dui sagittis.
                        Donec mauris sem, sagittis non euismod vel, volutpat nec felis. Phasellus tempus libero eros, id
                        finibus risus tempor quis. Aliquam vel sagittis velit. Maecenas metus odio, vulputate volutpat
                        tristique nec, blandit vel tortor. Suspendisse et neque eget lectus sagittis ultrices in at
                        enim.
                        Nam mauris urna, rutrum a facilisis id, ultrices vel lacus. Praesent et eros vulputate,
                        scelerisque
                        felis nec, accumsan augue. </p>
                </div>
            </div>
        </div>

    </section>
</main>

@@include('parts/footer.html')
<script src="js/carousel.js"></script>