@@include('parts/header.html')
<main>
    <section class="products">
        <div class="container">
            <div class="select_products">
                <h4>Tovarlar</h4>
                <div>
                    <select placeholder="Tovarni tanlang" name="" id="product_select">
                        <option value="1">Kir yuvish mashinasi</option>
                        <option value="2">Muzlatgich</option>
                        <option value="3">Kir yuvish mashinasi</option>
                        <option value="4">Muzlatgich</option>
                    </select>
                    <select placeholder="Brendni tanlang" name="" id="brend_select">
                        <option value="1">Samsung</option>
                        <option value="2">Apple</option>
                        <option value="3">Hp</option>
                        <option value="4">Artel</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 body-none">
                    <div class="main_products">
                        <h1>Tovarlar</h1>
                        <div class="left">
                            <div class="sidebar_card">
                                <span class="line_product"></span>
                                <div class="category_list">
                                    <h4>Tovarlar</h4>
                                    <ul>
                                        <li class="active"><a data-count="23" href="#"><img src="./images/other.svg"
                                                    alt=""> Kir
                                                yuvish mashinasi</a><span>23</span>
                                        </li>
                                        <li><a data-count="2103" href="#"><img src="./images/other.svg" alt="">
                                                Muzlatgich</a><span>23</span></li>
                                        <li><a data-count="6" href="#"><img src="./images/other.svg" alt="">
                                                Mebel</a><span>23</span></li>
                                        <li><a data-count="23" href="#"><img src="./images/other.svg" alt="">
                                                Changyutgich</a><span>23</span></li>
                                        <li><a data-count="8" href="#"><img src="./images/other.svg" alt="">
                                                Smartfon</a><span>23</span></li>
                                        <li><a data-count="23" href="#"><img src="./images/other.svg" alt="">
                                                Televizor</a><span>23</span></li>
                                        <li><a data-count="15" href="#"><img src="./images/other.svg" alt="">
                                                Zapchastlar</a><span>23</span></li>
                                        <li><a data-count="23" href="#"><img src="./images/other.svg" alt="">
                                                ElektroCar</a><span>23</span></li>
                                        <li><a data-count="18" href="#"><img src="./images/other.svg" alt="">
                                                Muzlatgich</a><span>23</span></li>
                                        <li><a data-count="23" href="#"><img src="./images/other.svg" alt="">
                                                Mebel</a><span>23</span></li>
                                        <li><a data-count="150" href="#"><img src="./images/other.svg" alt="">
                                                Smartfon</a><span>23</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar_card">
                                <h4>Brendlar</h4>
                                <div class="brands_list">
                                    <span class="line_product"></span>
                                    <div class="checkbox_item">
                                        <input type="checkbox">
                                        <p>Samsung</p>
                                    </div>
                                    <div class="checkbox_item">
                                        <input type="checkbox">
                                        <p>Apple</p>
                                    </div>
                                    <div class="checkbox_item">
                                        <input type="checkbox">
                                        <p>Hp</p>
                                    </div>
                                    <div class="checkbox_item">
                                        <input type="checkbox">
                                        <p>Artel</p>
                                    </div>
                                    <div class="checkbox_item">
                                        <input type="checkbox">
                                        <p>Asus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="body_products ">
                        <div class="row">
                            <div class="col-6 col-md-4 col-xl-3 up-margin ">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 up-margin">
                                <div class="info_products">
                                    <a href="./product-id.html">
                                        <img src="./images/bolt.png" alt="">
                                        <h3>Штечер вход трубки
                                            испар ВБ 09-12-18Kbtu</h3>
                                        <p>Код товара: R10030027</p>
                                        <div class="products_summ">
                                            <span>12100 so'm</span>
                                            <span><svg width="29" height="20" viewBox="0 0 29 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path id="Vector"
                                                        d="M1.55492 4.21714e-05C1.25274 4.21714e-05 0.962926 0.105399 0.749248 0.292936C0.53557 0.480472 0.415527 0.734826 0.415527 1.00004C0.415527 1.26526 0.53557 1.51961 0.749248 1.70715C0.962926 1.89469 1.25274 2.00004 1.55492 2.00004C3.05185 2.00004 4.36714 2.99309 4.77708 4.4328L7.07414 12.5C7.32823 13.39 8.23633 14 9.28115 14H23.4894C24.5183 14 25.3922 13.4 25.6622 12.53L28.1587 4.47419C28.3855 3.74229 27.8385 3.00004 27.0722 3.00004C26.5717 3.00004 26.13 3.32725 25.9841 3.80606L24.8589 7.50004C24.0447 10.1733 21.5786 12 18.7841 12H16.4522C12.2078 12 8.47851 9.18413 7.31658 5.10188L6.29138 1.50004C6.16793 1.06927 5.88334 0.68732 5.48318 0.415356C5.08303 0.143391 4.59047 -0.00285293 4.08438 4.21714e-05H1.55492ZM22.064 14C20.1897 14 18.6458 15.355 18.6458 17C18.6458 18.645 20.1897 20 22.064 20C23.9383 20 25.4822 18.645 25.4822 17C25.4822 15.355 23.9383 14 22.064 14ZM11.8095 14C9.93516 14 8.39128 15.355 8.39128 17C8.39128 18.645 9.93516 20 11.8095 20C13.6838 20 15.2276 18.645 15.2276 17C15.2276 15.355 13.6838 14 11.8095 14ZM16.367 4.21714e-05C15.7378 4.21714e-05 15.2276 0.510166 15.2276 1.13944V4.06493C15.2276 4.58138 14.809 5.00004 14.2925 5.00004C13.4298 5.00004 13.0273 6.06886 13.6757 6.63797L15.2349 8.00638C15.8826 8.57487 16.8515 8.57487 17.4992 8.00638L19.0584 6.63797C19.7068 6.06886 19.3043 5.00004 18.4415 5.00004C17.9251 5.00004 17.5064 4.58138 17.5064 4.06493V1.13944C17.5064 0.510166 16.9963 4.21714e-05 16.367 4.21714e-05ZM11.8095 16C12.4521 16 12.9489 16.436 12.9489 17C12.9489 17.564 12.4521 18 11.8095 18C11.1668 18 10.6701 17.564 10.6701 17C10.6701 16.436 11.1668 16 11.8095 16ZM22.064 16C22.7066 16 23.2034 16.436 23.2034 17C23.2034 17.564 22.7066 18 22.064 18C21.4214 18 20.9246 17.564 20.9246 17C20.9246 16.436 21.4214 16 22.064 16Z"
                                                        fill="#62BB46" />
                                                </svg></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="display: flex; justify-content: end; margin-top: 30px;">
            @@include('parts/pagination.html')
        </div>
    </section>

</main>

@@include('parts/footer.html')