@@include('parts/header.html')
<section>
    <div class="container for-top-product">
        <div class="row product-id-info">
            <!-- <div class="left-id-info"> -->
            <div class="col-md-5 col-lg-4 col-xl-3">
                <div class="id_info_img"><img src="./images/bolt.png" alt=""></div>
            </div>
            <div class="col-md-7 col-lg-8 col-xl-6">
                <div class="id_info_all">
                    <h4>Штечер вход трубки испар ВБ 09-12-18Kbtu</h4>
                    <div class="code_product"><span>Tovar kodi:</span><span>R10030027</span></div>
                    <span class="top_product">Top tovar</span>
                    <div class="category_product"><span>Kategoriya:</span><span>Kir yuvish mashinasi (Artel) </span>
                    </div>
                    <div class="brand_product"><span>Brend:</span><span>Artel </span></div>
                    <div class="aviable_product"><span>Mavjud:</span><span>21 ta bor </span></div>
                    <div class="summ_product"><span>Narxi:</span><span>21000 so’m </span></div>
                    <div class="model_product"><span>Model:</span><span>AI 213659</span></div>
                    <div class="buy_info_product">
                        <button class="my-btn"><a href="product-buy.html">Bir klikda olish</a></button>
                        <button class="my-btn">Savatchaga qo'shish</button>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <div class="col-md-12 col-lg-12 col-xl-3 info-delivery">
                @@include('parts/delivery.html')
            </div>
        </div>
    </div>
</section>
<div class="container ">
    <div class="about_product">
        <h4>
            Tovar haqida
        </h4>
        <p>
            Регулярные тренировки с роликом позволяют укрепить мышцы брюшного пресса, рук, ног и бедер.- Материал:
            пластик, метал с подшипником- Диаметр колеса - 15 см.- Длина ручки - 12 см. - Максимальный вес
            пользователя-200.0 (кг)
            <br>
            Тип
            <br>
            Ролик для пресса
            <br>
            Назначение
            <br>
            Профессиональное
            <br>
            Конструкция
            <br>
            Разборная
            <br>
            Максимальный вес пользователя
            <br>
            200 кг
            <br>
            Система нагрузки
            <br>Свободный вес
        </p>
    </div>
</div>
@@include('parts/carousel-product.html')
@@include('parts/footer.html')
<script src="js/carousel.js"></script>