@@include('parts/header.html')
<div class="container">
    <h1 class="payment-info-title">To'lov ma'lumotlari</h1>
    <div class="payment-info row">
        <div class="col-sm-12  col-lg-8 col-xl-9">
            <div class="payment-body ">
                <form class="row">
                    <div class="col-sm-12 col-md-6"><label for="">Telefon</label><input type="tel" name="phone"
                            id="phone" class="phone" placeholder="+998(__)___-__-__" /></div>
                    <div class="col-sm-12 col-md-6"><label for="">F.I.O</label><input type="text"></div>
                    <div class="col-sm-12 col-md-6">
                        <label for="">Viloyat</label><select name="" id="">
                            <option value="1">Surxondaryo</option>
                            <option value="2">Toshkent</option>
                            <option value="3">Andijon</option>
                            <option value="4">Jizzax</option>
                            <option value="5">Samarqand</option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <label for="">Tuman/shahar</label><select name="" id="">
                            <option value="1">Toshkent</option>
                            <option value="2">Chirchiq</option>
                            <option value="3">Sho'rchi</option>
                            <option value="4">Baliqchi</option>
                            <option value="5">Kimdirchi</option>
                        </select>
                    </div>

                </form>
                <h4 class="payment-brand">Yetkazib berish xizmati</h4>
                <p class="payment-model">Bizda Respublika bo’yicha viloyat markazlariga va tuman markazlariga yetkazib
                    berish xizmati mavjud. </p>
                <div class="link-buy">
                    <button class="btn">Buyurtma qilish</button>
                    <a href="product-id.html">Orqaga</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-xl-3">
            <div class="basket_count">
                <h5>Savatdagi mahsulotlar soni <span>1 dona</span></h5>
                <div class="all-info-summ">
                    <p>Jami summa:</p>
                    <p class="count-summ">21 000 so'm</p>
                </div>
                <div class="basket-count-info">
                    <div class="info-buy">
                        <div>
                            <img src="./images/bolt.png" alt="">
                        </div>
                        <div>
                            <h4><span>Штечер вход трубки испар ВБ вход трубки испар</span> <span class="count-top">(1
                                    Dona)</span>
                            </h4>
                            <div class="count-to-buy"><span class="count-left">1 Dona</span><span>21000 so'm</span>
                            </div>
                            <span class="delete-shopping"><img src="./images/delete.svg" alt="">O'chirish</span>
                        </div>
                    </div>
                    <div class="info-buy">
                        <div>
                            <img src="./images/bolt.png" alt="">
                        </div>
                        <div>
                            <h4><span>Штечер вход трубки испар ВБ вход трубки испар</span> <span class="count-top">(1
                                    Dona)</span>
                            </h4>
                            <div class="count-to-buy"><span class="count-left">1 Dona</span><span>21000 so'm</span>
                            </div>
                            <span class="delete-shopping"><img src="./images/delete.svg" alt="">O'chirish</span>
                        </div>
                    </div>
                    <div class="info-buy">
                        <div>
                            <img src="./images/bolt.png" alt="">
                        </div>
                        <div>
                            <h4><span>Штечер вход трубки испар ВБ вход трубки испар</span> <span class="count-top">(1
                                    Dona)</span>
                            </h4>
                            <div class="count-to-buy"><span class="count-left">1 Dona</span><span>21000 so'm</span>
                            </div>
                            <span class="delete-shopping"><img src="./images/delete.svg" alt="">O'chirish</span>
                        </div>
                    </div>
                    <!-- <div class="info-buy">
                        <div>
                            <img src="./images/bolt.png" alt="">
                        </div>
                        <div>
                            <h4><span>Штечер вход трубки испар ВБ вход трубки испар</span> <span class="count-top" (>1 Dona)</span></h4>
                            <div class="count-to-buy"><span class="count-left" >1 Dona</span><span>21000 so'm</span></div>
                            <span class="delete-shopping"><img src="./images/delete.svg" alt="">O'chirish</span>
                        </div>
                    </div> -->
                </div>


            </div>
        </div>
    </div>

</div>
@@include('parts/carousel-product.html')
@@include('parts/footer.html')
<script src="js/carousel.js"></script>