@@include('parts/header.html')
<div class="container">
    <h1 class="title-shopping-card">Savatcha</h1>
    <div class="row shopping-info">
        <div class="col-sm-12 col-lg-8">
            <div class="shopping-left">
                <div class="shopping-left-img">
                    <img src="./images/bolt.png" alt="">
                </div>
                <div class="shopping-left-info">
                    <h5>Штечер вход трубки испар ВБ 09-12-18Kbtu</h5>

                    <p><span>Tovar kodi:</span> <span>R 100326599</span></p>
                    <p class="category-shopping-info"><span>Kategoriya nomi:</span> <span>Kir yuvish
                            mashinasi</span></p>
                    <p class="category-shopping-summ"><span>Narxi:</span> <span>21 so'mm</span></p>
                    <p class="shopping-brand "><span>Brend:</span><span>Artel</span></p>
                    <p class="shopping-model"><span>Model:</span><span>Ai 1686965</span></p>
                    <p class="delete-shopping"><span></span><span><img src="./images/delete.svg" alt=""
                                style="margin-right: 10px; margin-bottom: 2px;">O'chirish</span>
                    </p>
                </div>
            </div>
            <div class="shopping-left">
                <div class="shopping-left-img">
                    <img src="./images/bolt.png" alt="">
                </div>
                <div class="shopping-left-info">
                    <h5>Штечер вход трубки испар ВБ 09-12-18Kbtu</h5>

                    <p><span>Tovar kodi:</span> <span>R 100326599</span></p>
                    <p class="category-shopping-info"><span>Kategoriya nomi:</span> <span>Kir yuvish
                            mashinasi</span></p>
                    <p class="category-shopping-summ"><span>Narxi:</span> <span>21 so'mm</span></p>
                    <p class="shopping-brand "><span>Brend:</span><span>Artel</span></p>
                    <p class="shopping-model"><span>Model:</span><span>Ai 1686965</span></p>
                    <p class="delete-shopping"><span></span><span><img src="./images/delete.svg" alt=""
                                style="margin-right: 10px; margin-bottom: 2px;">O'chirish</span>
                    </p>
                </div>
            </div>
            <div class="shopping-left">
                <div class="shopping-left-img">
                    <img src="./images/bolt.png" alt="">
                </div>
                <div class="shopping-left-info">
                    <h5>Штечер вход трубки испар ВБ 09-12-18Kbtu</h5>

                    <p><span>Tovar kodi:</span> <span>R 100326599</span></p>
                    <p class="category-shopping-info"><span>Kategoriya nomi:</span> <span>Kir yuvish
                            mashinasi</span></p>
                    <p class="category-shopping-summ"><span>Narxi:</span> <span>21 so'mm</span></p>
                    <p class="shopping-brand "><span>Brend:</span><span>Artel</span></p>
                    <p class="shopping-model"><span>Model:</span><span>Ai 1686965</span></p>
                    <p class="delete-shopping"><span></span><span><img src="./images/delete.svg" alt=""
                                style="margin-right: 10px; margin-bottom: 2px;">O'chirish</span>
                    </p>
                </div>
            </div>
            <div class="shopping-left">
                <div class="shopping-left-img">
                    <img src="./images/bolt.png" alt="">
                </div>
                <div class="shopping-left-info">
                    <h5>Штечер вход трубки испар ВБ 09-12-18Kbtu</h5>

                    <p><span>Tovar kodi:</span> <span>R 100326599</span></p>
                    <p class="category-shopping-info"><span>Kategoriya nomi:</span> <span>Kir yuvish
                            mashinasi</span></p>
                    <p class="category-shopping-summ"><span>Narxi:</span> <span>21 so'mm</span></p>
                    <p class="shopping-brand "><span>Brend:</span><span>Artel</span></p>
                    <p class="shopping-model"><span>Model:</span><span>Ai 1686965</span></p>
                    <p class="delete-shopping"><span></span><span><img src="./images/delete.svg" alt=""
                                style="margin-right: 10px; margin-bottom: 2px;">O'chirish</span>
                    </p>
                </div>
            </div>
            <div class="shopping-left">
                <div class="shopping-left-img">
                    <img src="./images/bolt.png" alt="">
                </div>
                <div class="shopping-left-info">
                    <h5>Штечер вход трубки испар ВБ 09-12-18Kbtu</h5>

                    <p><span>Tovar kodi:</span> <span>R 100326599</span></p>
                    <p class="category-shopping-info"><span>Kategoriya nomi:</span> <span>Kir yuvish
                            mashinasi</span></p>
                    <p class="category-shopping-summ"><span>Narxi:</span> <span>21 so'mm</span></p>
                    <p class="shopping-brand "><span>Brend:</span><span>Artel</span></p>
                    <p class="shopping-model"><span>Model:</span><span>Ai 1686965</span></p>
                    <p class="delete-shopping"><span></span><span><img src="./images/delete.svg" alt=""
                                style="margin-right: 10px; margin-bottom: 2px;">O'chirish</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="row delivery_basket">
                <div class="col-sm-6 col-lg-12">
                    <div class="delivery-service ">
                        <div class="">
                            <h4>Yetkazib berish xizmati</h4>
                            <p>Bizda Respublika bo’yicha viloyat markazlariga va tuman markazlariga yetkazib berish
                                xizmati mavjud. </p>
                        </div>
                        <div class="">
                            <img src="images/delivery.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-12">
                    <div class="basket_count">
                        <h5>Savatdagi mahsulotlar soni: <span>1 dona</span></h5>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>Jami summa:</p>
                            <p class="count-summ">100.210.000 so'm</p>
                        </div>
                        <a class="btn" href="product-buy.html">Buyurtma</a>
                        <span class="line-row"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
@@include('parts/carousel-product.html')
@@include('parts/footer.html')
<script src="js/carousel.js"></script>