input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

body * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.container {
  max-width: 1700px;
}
@media (max-width: 767px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #ffffff;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.me-1 {
  margin-right: 12px;
}

.btn__green {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1607843137);
  border-radius: 30px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  background: #40916C;
  padding: 0 30px;
  cursor: pointer;
  border: 0;
  outline: none !important;
}
.btn__green:hover {
  color: #fff;
  background-color: #40916C;
}

.btn__register {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1607843137);
  background-color: #fff;
  border-radius: 30px;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 0 30px;
  cursor: pointer;
  border: 0;
  outline: none !important;
}
.btn__register:hover {
  color: #40916C;
}

body {
  padding-top: 110px;
  zoom: 0.8;
}
@media (max-width: 1299px) {
  body {
    zoom: 1;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}
body #menu-toggle {
  display: none;
}
@media (max-width: 991px) {
  body #menu-toggle {
    display: block;
  }
}
body .menu_block {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-right: 30px;
}
body .menu_block img {
  width: 100%;
  height: 100%;
}
body #menu-two {
  display: none;
}
body #menu-list {
  position: absolute;
  width: 450px;
  height: 100vh;
  top: 70px;
  display: none;
  left: 0;
  background-color: #fff;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2705882353);
  padding: 25px;
  padding-bottom: 20px;
  border-radius: 0px 15px 15px;
  transition: all 0.3s linear;
}
body #menu-list a {
  color: #52769e;
  font-weight: 900;
  font-size: 18px;
  padding-bottom: 2px;
  margin-bottom: 5px;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid transparent;
}
body #menu-list a:hover {
  border-bottom: 1px solid #52769e;
}
@media (max-width: 991px) {
  body #group {
    display: none;
  }
}

header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1019607843);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  background: var(--green);
  padding: 12px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1490196078);
}
@media (max-width: 767px) {
  header {
    padding: 8px 0 7px;
    height: 60px;
  }
}
header .hdr__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  header .hdr__main {
    justify-content: start;
  }
}
header .hdr__main .logo {
  display: block;
}
@media (max-width: 1299px) {
  header .hdr__main .logo {
    margin-right: auto;
  }
}
header .hdr__main .logo img {
  width: 100%;
  max-width: 160px;
}
@media (max-width: 767px) {
  header .hdr__main .logo img {
    max-width: 85px;
  }
}
header .hdr__main ul {
  display: flex;
  align-items: center;
}
header .hdr__main ul li {
  margin: 0 15px;
  letter-spacing: normal;
}
header .hdr__main ul li a {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
header .hdr__main ul li a:hover {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}
header .hdr__main ul li a.active {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}
header .hdr__main .right-side {
  display: flex;
  gap: 20px;
}
@media (max-width: 991px) {
  header .hdr__main .right-side {
    margin-left: auto;
  }
}
header .hdr__main .right-side .group-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .hdr__main .right-side .group-left .about input {
  outline: none;
  border: none;
  padding: 2px 5px;
  height: 30px;
  border-radius: 10px;
  background: none;
  width: 100px;
}
header .hdr__main .right-side .group-left .about input::-moz-placeholder {
  color: white;
}
header .hdr__main .right-side .group-left .about input::placeholder {
  color: white;
}
header .hdr__main .right-side .group-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .hdr__main .right-side .group-right .language {
  cursor: pointer;
}
header .hdr__main .right-side .group-right .language_block {
  width: 150px;
  display: none;
  position: absolute;
  border-radius: 0px 5px 5px;
  right: 500px;
  top: 70px;
  box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.424);
  background-color: #fff;
}
header .hdr__main .right-side .group-right .language_block p {
  color: #000;
  margin-bottom: 0;
}
header .hdr__main .right-side .group-right .language_block a {
  display: flex;
  align-items: center;
  color: #000;
  gap: 5px;
  font-size: 17px;
  font-weight: 900;
  padding: 10px 20px;
  transition: all 0.5s linear;
}
header .hdr__main .right-side .group-right .language_block a img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .hdr__main .right-side .group-right .language_block a:hover {
  background-color: rgba(0, 0, 0, 0.0588235294);
  border-radius: 4px;
}
header .hdr__main .lang {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  flex-direction: column;
  overflow: hidden;
  flex: 0 0 40px;
}
@media (max-width: 767px) {
  header .hdr__main .lang {
    flex: 0 0 40px;
    height: 40px;
    width: 40px;
    margin-right: 20px;
  }
}
header .hdr__main .lang:hover a.active {
  transform: translateY(-100%);
}
header .hdr__main .lang:hover a.active + a {
  transform: translateY(-100%);
}
@media (max-width: 1299px) {
  header .hdr__main .lang a.active {
    display: none !important;
  }
}
header .hdr__main .lang a {
  line-height: 60px;
  width: 60px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
}
@media (max-width: 1299px) {
  header .hdr__main .lang a {
    transform: translateY(0) !important;
  }
}
@media (max-width: 767px) {
  header .hdr__main .lang a {
    line-height: 40px;
    width: 40px;
    font-size: 13px;
  }
}
header .hdr__main a.cart {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1607843137);
  border-radius: 50%;
  margin-right: 90px;
  flex: 0 0 60px;
  position: relative;
}
header .hdr__main a.cart[data-product-cart]:after {
  content: attr(data-product-cart);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 34px;
  height: 34px;
  background-color: #F04F63;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 767px) {
  header .hdr__main a.cart[data-product-cart]:after {
    width: 20px;
    height: 20px;
    min-width: 20px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  header .hdr__main a.cart {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin-right: 40px;
  }
}
header .hdr__main a.cart svg path {
  transition: all 0.3s;
}
header .hdr__main a.cart:hover {
  background-color: rgba(240, 240, 240, 0.8);
}
header .hdr__main a.cart:hover svg path {
  fill: #40916C;
  fill: #000;
}
header .hdr__main a.register {
  margin-left: 30px;
}
header .hamburger {
  display: none;
}
header .hamburger svg {
  width: 60px;
  height: auto;
}
@media (max-width: 767px) {
  header .hamburger svg {
    width: 35px;
  }
}
@media (max-width: 1299px) {
  header .hamburger {
    display: block;
  }
}

.mobile__sidebar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff9dc url("../images/bc__main.png") no-repeat right bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.6s;
  padding: 30px;
  padding-top: 60px;
  height: 100vh;
}
.mobile__sidebar .close {
  position: absolute;
  right: 30px;
  top: 30px;
}
.mobile__sidebar .close svg {
  width: 60px;
  height: auto;
}
@media (max-width: 767px) {
  .mobile__sidebar .close svg {
    width: auto;
  }
}
.mobile__sidebar ul {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .mobile__sidebar ul {
    width: 100%;
  }
}
.mobile__sidebar ul li {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .mobile__sidebar ul li {
    margin-bottom: 20px;
  }
}
.mobile__sidebar ul li a {
  font-size: 60px;
}
@media (max-width: 1299px) {
  .mobile__sidebar ul li a.active {
    font-weight: 700;
  }
}
@media (max-width: 991px) {
  .mobile__sidebar ul li a {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .mobile__sidebar ul li a {
    font-size: 35px;
    line-height: 44px;
  }
}
.mobile__sidebar .btn__green {
  font-size: 40px;
  margin-bottom: 30px;
  min-width: 400px;
  height: 80px;
}
@media (max-width: 991px) {
  .mobile__sidebar .btn__green {
    font-size: 30px;
    height: 60px;
    min-width: 300px;
  }
}
@media (max-width: 767px) {
  .mobile__sidebar .btn__green {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
.mobile__sidebar .register {
  font-size: 40px;
}
@media (max-width: 991px) {
  .mobile__sidebar .register {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .mobile__sidebar .register {
    font-size: 20px;
    line-height: 25px;
  }
}

section {
  padding: 30px 0;
}
@media (max-width: 1299px) {
  section {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  section {
    padding: 30px 0;
  }
}

section.general {
  padding: 80px 0 100px;
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  section.general {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
section.general h1 {
  text-shadow: 0px 2px 3px rgba(41, 202, 95, 0.1490196078);
  color: #ffffff;
  font-size: 100px;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: 900;
}
@media (max-width: 1299px) {
  section.general h1 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  section.general h1 {
    font-size: 45px;
  }
}
section.general .row {
  align-items: center;
}
@media (max-width: 1299px) {
  section.general .row {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
}
section.general .row img {
  max-width: 100%;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  section.general .row img {
    height: 220px;
    width: 220px;
    max-width: 220px;
  }
}
section.general .row p {
  font-size: 47px;
  line-height: 55px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  section.general .row p {
    font-size: 22px;
    line-height: 25px;
  }
}
section.general .btn__green {
  font-size: 35px;
  min-width: 300px;
  text-transform: initial;
}
@media (max-width: 767px) {
  section.general .btn__green {
    font-size: 25px;
  }
}

h1 {
  margin-bottom: 60px;
  font-size: 83px;
  line-height: 92px;
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(41, 202, 95, 0.1490196078);
  font-weight: 800;
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 63px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 45px;
  line-height: 57px;
  font-weight: 800;
  padding-bottom: 7px;
  margin-bottom: 35px;
  color: #707070;
}
@media (max-width: 767px) {
  h2 {
    font-size: 35px;
    line-height: 44px;
  }
}

section.product__main {
  padding-bottom: 200px;
  position: relative;
  background: url("../images/bc__soki.svg") no-repeat center left;
  background-size: cover;
}
@media (max-width: 767px) {
  section.product__main {
    padding-bottom: 130px;
  }
}
section.product__main .row {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 110px;
}
@media (max-width: 1299px) {
  section.product__main .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
section.product__main .row > div {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1299px) {
  section.product__main .row > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
section.product__main .card {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  section.product__main .card {
    margin-bottom: 100px;
  }
}
section.product__main.product__pages {
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  section.product__main.product__pages {
    padding-bottom: 0;
  }
}
section.product__main.product__pages .card {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  section.product__main.product__pages .card {
    margin-bottom: 100px;
  }
}
section.product__main .card {
  border: 0;
  border-radius: 0;
}
section.product__main .card .card-img-top {
  height: 284px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  border-radius: 61px;
  margin-bottom: 30px;
}
@media (max-width: 1299px) {
  section.product__main .card .card-img-top {
    height: 200px;
  }
}
@media (max-width: 991px) {
  section.product__main .card .card-img-top {
    height: 280px;
  }
}
@media (max-width: 767px) {
  section.product__main .card .card-img-top {
    margin-bottom: 20px;
  }
}
section.product__main .card .card-title {
  font-size: 32px;
  line-height: 37px;
  min-height: 74px;
  margin-bottom: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  section.product__main .card .card-title {
    font-size: 28px;
    margin-bottom: 10px;
    min-height: inherit;
  }
}
section.product__main .card .btn__green {
  width: 100%;
}
@media (max-width: 767px) {
  section.product__main .card .btn__green {
    font-size: 20px;
  }
}
section.product__main .card .btn__green img {
  margin-right: 30px;
}
@media (max-width: 767px) {
  section.product__main .card .btn__green img {
    margin-right: 15px;
    max-width: 32px;
  }
}
section.product__main .text {
  margin-bottom: 70px;
}
section.product__main p {
  font-size: 35px;
  line-height: 52px;
  margin-bottom: 40px;
  max-width: 80%;
  color: #ffffff;
}
section.product__main p.composition__product {
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 991px) {
  section.product__main p {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  section.product__main p {
    font-size: 20px;
    line-height: 29px;
  }
}

a.more {
  background-color: #dbdbdb;
  line-height: 60px;
  display: inline-block;
  padding: 0 40px;
  font-size: 32px;
  border-radius: 30px;
  font-weight: bold;
}
@media (max-width: 767px) {
  a.more {
    font-size: 25px;
    width: 100%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.0784313725);
    width: 100%;
    text-align: center;
    border-radius: 51px;
  }
}

footer {
  background-color: var(--green);
  background-size: cover;
  padding: 30px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .d-flex {
  gap: 50px;
}
@media (max-width: 991px) {
  footer {
    text-align: center;
  }
}
footer .row {
  align-items: center;
}
footer h4 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 32px;
}
@media (max-width: 991px) {
  footer ul {
    margin-bottom: 50px;
  }
}
footer ul li {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: bold;
  color: #ffffff;
}
footer ul li:last-child {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 18px;
}
footer .social {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  footer .social {
    margin-bottom: 0;
  }
}
footer .social a {
  display: inline-block;
  margin: 0 10px;
}
footer .social a svg path {
  transition: all 0.15s;
}
footer .social a:hover svg path {
  fill: #000;
}
footer .social a.instagramm:hover svg path {
  fill: none;
  stroke: #000;
}

section.info-product .info-product-header {
  padding: 55px;
  border-radius: 10px;
  background-color: #ffffff;
}
@media (max-width: 500px) {
  section.info-product .info-product-header {
    padding: 0;
  }
}
section.info-product:nth-child(odd) .info-product-body {
  flex-direction: row-reverse;
}
section.info-product .info-product-all {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #000;
}
@media (max-width: 500px) {
  section.info-product .info-product-all {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  section.info-product .info-product-all .title {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  section.info-product .info-product-all a {
    font-size: 10px;
  }
}
section.info-product .info-product-body {
  margin-top: 30px;
  gap: 30px;
  justify-content: space-between;
}
section.info-product .info-product-body li {
  width: 250px;
}
section.info-product .info-product-body .product-body-left {
  display: flex;
}
section.info-product .info-product-body .product-body-left ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
@media (max-width: 500px) {
  section.info-product .info-product-body .product-body-left ul .card:nth-last-child(-n+3) {
    display: none;
  }
  section.info-product .info-product-body .product-body-left ul .card {
    width: 100%;
  }
}
@media (max-width: 500px) {
  section.info-product .info-product-body .product-body-left {
    padding: 0 20px;
  }
}
section.info-product .info-product-body .product-body-right {
  position: relative;
  max-width: 500px;
  width: 100%;
}
section.info-product .info-product-body .product-body-right span {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 20px;
  font-weight: 800;
}
@media (max-width: 500px) {
  section.info-product .info-product-body .product-body-right span {
    font-size: 12px;
    left: 35px;
  }
}
section.info-product .info-product-body .product-body-right img {
  height: 100%;
  width: 100%;
}
@media (max-width: 500px) {
  section.info-product .info-product-body .product-body-right {
    padding: 0 20px;
  }
}
section.info-product .info-product-body .body-top {
  position: relative;
}
section.info-product .info-product-body .body-top .top-absolute {
  position: absolute;
  font-size: 12px;
  bottom: 15px;
  left: 15px;
  color: #40916C;
  font-weight: 800;
}
section.info-product .info-product-body h2 {
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 150%;
}
section.info-product .info-product-body h3 {
  margin-top: 10px;
  color: red;
  font-size: 12px;
  margin-bottom: 0;
}
section.info-product h3 {
  color: black;
}
section.info-product a {
  color: #40916C;
}
@media (max-width: 1299px) {
  section.info-product .info-product-body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  section.info-product .info-product-body {
    flex-direction: column-reverse;
  }
}

.form__style .form-group {
  margin-bottom: 20px;
}
.form__style .form-group.bord {
  display: flex;
  height: 70px;
  padding: 20px;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 35px;
}
@media (max-width: 767px) {
  .form__style .form-group.bord {
    height: 60px;
  }
}
.form__style .form-group label {
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  padding-right: 10px;
}
@media (max-width: 767px) {
  .form__style .form-group label {
    font-size: 16px;
    line-height: 22px;
  }
}
.form__style .btn__green {
  margin-left: auto;
  margin-right: 0;
  display: block;
}
@media (max-width: 767px) {
  .form__style .btn__green {
    width: 100%;
    margin-bottom: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
.form__style input {
  width: 100%;
  height: 32px;
  border: 0;
  font-weight: bold;
  font-size: 22px;
  box-shadow: none;
  outline: none;
  background: none;
}
@media (max-width: 767px) {
  .form__style input {
    height: 22px;
    font-size: 16px;
  }
}
.form__style textarea {
  padding: 20px;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 35px;
  width: 100%;
  min-height: 180px;
  resize: none;
  outline: none;
  font-size: 22px;
  line-height: 32px;
}
@media (max-width: 767px) {
  .form__style textarea {
    font-size: 16px;
    line-height: 22px;
    min-height: 200px;
  }
}

.success,
.errored {
  position: relative;
}
.success:after,
.errored:after {
  content: "";
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  right: -10px;
  top: 17.5px;
  transform: translate(100%, 0%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .success:after,
  .errored:after {
    width: 24px;
    height: 24px;
    right: -5px;
    top: 12px;
  }
}

.success:after {
  background-image: url("../images/success.svg");
}

.errored:after {
  background-image: url("../images/error.svg");
}

.brend .card {
  padding: 30px !important;
}

.advantages_info h2 {
  text-align: center;
  margin-bottom: 0;
  color: #000;
}
.advantages_info p {
  color: #000;
}

section.cart table {
  width: 100%;
}
section.cart table thead th {
  border: 0;
  border-bottom: 2px solid #e5e5e5;
  padding: 10px 0;
  color: #ffffff;
  font-size: 32px;
  line-height: 41px;
}
@media (max-width: 767px) {
  section.cart table thead th {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0;
  }
}
@media (max-width: 767px) {
  section.cart table thead th:nth-child(2), section.cart table thead th:nth-child(4) {
    display: none !important;
  }
}
section.cart table tbody td {
  padding: 10px 0;
  font-size: 30px;
  line-height: 37px;
  border-bottom: 2px solid #e5e5e5;
}
@media (max-width: 767px) {
  section.cart table tbody td:nth-child(2), section.cart table tbody td:nth-child(4) {
    display: none !important;
  }
}
section.cart table .cart__name {
  display: flex;
  align-items: center;
}
section.cart table .cart__name img {
  flex: 0 0 200px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  margin-right: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1299px) {
  section.cart table .cart__name img {
    width: 120px;
    height: 120px;
    flex: 0 0 120px;
  }
}
@media (max-width: 767px) {
  section.cart table .cart__name img {
    width: 65px;
    height: 65px;
    flex: 0 0 65px;
    border-radius: 16px;
  }
}
section.cart table .cart__name .text h4 {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 25px;
  font-weight: bold;
}
@media (max-width: 767px) {
  section.cart table .cart__name .text h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
  }
}
section.cart table .cart__name .text a {
  font-size: 32px;
  text-decoration: underline;
  text-underline-position: under;
}
@media (max-width: 767px) {
  section.cart table .cart__name .text a {
    font-size: 16px;
    line-height: 1;
  }
}
section.cart table .cart__price {
  font-size: 30px;
  line-height: 37px;
}
@media (max-width: 767px) {
  section.cart table .cart__price {
    font-size: 16px;
    line-height: 1;
  }
}
section.cart table .d-sm-none {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 8px;
}

.cart__count {
  border-radius: 40px;
  border: 1px solid #ffffff;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
@media (max-width: 1299px) {
  .cart__count {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .cart__count {
    height: 40px;
  }
}
.cart__count button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
}
@media (max-width: 767px) {
  .cart__count button {
    display: none !important;
  }
}
.cart__count button svg circle {
  transition: all 0.15s;
}
.cart__count button:hover svg circle {
  fill: #000 !important;
}
.cart__count input {
  border: 0;
  min-width: inherit;
  max-width: 70px;
  text-align: center;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.54px;
  outline: none;
  width: 100%;
}
@media (max-width: 767px) {
  .cart__count input {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .empty__cart {
    margin-bottom: 3f0px;
  }
}
.empty__cart p {
  font-size: 30px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .empty__cart p {
    font-size: 18px;
  }
}
.empty__cart a {
  font-size: 34px;
}
@media (max-width: 767px) {
  .empty__cart a {
    font-size: 18px;
  }
}

.total__cart {
  text-align: right;
  margin-top: 50px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .total__cart {
    text-align: left;
    margin-top: 20px;
    padding-bottom: 50px;
  }
}
.total__cart p {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #ffffff;
  padding-right: 50px;
}
@media (max-width: 767px) {
  .total__cart p {
    font-size: 16px;
    line-height: 19px;
  }
}
.total__cart p span {
  padding-right: 34px;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 767px) {
  .total__cart p span {
    padding-right: 10px;
  }
}
.total__cart .btn__green {
  min-width: 300px;
}
@media (max-width: 767px) {
  .total__cart .btn__green {
    min-width: 100%;
  }
}

body.register {
  padding-top: 0;
}

.circle {
  width: 564px;
  height: 562px;
  background: #fff3e5;
  position: absolute;
  top: 50px;
  border-radius: 50%;
  left: 0;
  transform: translateX(-50%);
  opacity: 0.7;
  z-index: -1;
}

section.register {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  section.register {
    min-height: inherit;
    padding-top: 50px;
  }
}
section.register .subtitle {
  font-size: 32px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  section.register .subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
  }
}
section.register .subtitle a {
  font-weight: 600;
  text-decoration: underline !important;
  text-underline-position: under;
}

.send__again {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  padding: 0 30px;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  border: 0;
  outline: none !important;
}
@media (max-width: 767px) {
  .send__again {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 50px;
    padding-left: 0;
  }
}

.forget__password {
  color: #2e96ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  outline: none !important;
}
@media (max-width: 767px) {
  .forget__password {
    font-size: 15px;
  }
}

.to__register {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
  line-height: 60px;
  padding: 0 30px;
  outline: none !important;
  min-width: 230px;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .to__register {
    width: 100%;
    min-width: inherit;
  }
}

.checkbox__style {
  position: relative;
}
@media (max-width: 767px) {
  .checkbox__style.privacy__block {
    margin-top: 0 !important;
  }
}
.checkbox__style input {
  display: none;
}
.checkbox__style input:checked + label:after {
  background-size: 14px auto;
}
.checkbox__style label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
}
.checkbox__style label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 22px;
  height: 22px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: url("../images/check.svg") no-repeat center;
  background-size: 0;
}
.checkbox__style label a {
  color: #2e96ff;
  font-weight: 600;
  text-decoration: underline !important;
  text-underline-position: under;
}

.register__form .form-group {
  margin-bottom: 15px;
  border: 2px solid #707070;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 70px;
}
@media (max-width: 767px) {
  .register__form .form-group {
    height: 50px;
    margin-bottom: 20px !important;
  }
}
.register__form .btn__green {
  min-width: 250px;
}
.register__form .checkbox__style {
  margin-top: 20px;
}
.register__form .row {
  margin-left: -8px;
  margin-right: -8px;
}
.register__form .row > div {
  padding-left: 8px;
  padding-right: 8px;
}

section.payment {
  padding-bottom: 200px;
  position: relative;
  background: url("../images/bc__soki.svg") no-repeat center left;
  background-size: cover;
}
@media (max-width: 767px) {
  section.payment {
    padding-bottom: 130px;
  }
}

.payment__main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .payment__main {
    flex-direction: column-reverse;
  }
}
.payment__main h2 {
  font-size: 25px;
  line-height: 2;
  margin-bottom: 20px;
  border: 0;
  padding: 0;
  color: #ffffff;
}
.payment__main .form__style input[type=date] {
  position: relative;
  width: 100%;
}
.payment__main .form__style input[type=date]::-webkit-calendar-picker-indicator {
  background-position: right center;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.payment__main .form__style .form-group {
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  border: 2px solid #707070;
  border-radius: 10px;
  padding: 20px;
}
@media (max-width: 767px) {
  .payment__main .form__style .form-group {
    padding: 10px;
  }
}
.payment__main .form__style .form-group.hasTextarea {
  flex-wrap: wrap;
}
.payment__main .form__style .form-group.hasTextarea label {
  width: 100%;
}
.payment__main .form__style .form-group.hasTextarea textarea {
  border: 0;
  width: 100%;
  min-height: 200px;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
  padding: 0;
  border-radius: 0;
}
@media (max-width: 767px) {
  .payment__main .form__style .form-group.hasTextarea textarea {
    font-size: 16px;
    line-height: 1.4;
    height: auto;
  }
}
.payment__main .form__style .form-group select {
  width: 100%;
  border: 0;
  outline: none;
  box-shadow: none;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 767px) {
  .payment__main .form__style .form-group select {
    font-size: 16px;
  }
}
.payment__main .payment__left {
  width: 100%;
  padding-right: 50px;
}
@media (max-width: 991px) {
  .payment__main .payment__left {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .payment__main .payment__left .pt-5 {
    padding-top: 15px !important;
  }
}
.payment__main .payment__left ul {
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.payment__main .payment__left ul li {
  width: 100%;
}
.payment__main .payment__left ul li:first-child a {
  border-radius: 10px 0px 0px 10px;
}
.payment__main .payment__left ul li a {
  font-size: 32px;
  line-height: 60px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1607843137);
  border-radius: 0px 10px 10px 0px;
  color: #bebebe;
  display: block;
  text-align: center;
  background-color: #e5e5e5;
}
@media (max-width: 767px) {
  .payment__main .payment__left ul li a {
    font-size: 20px;
  }
}
.payment__main .payment__left ul li a.active {
  color: #fff;
  background-color: #f89521;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.payment__main .payment__right {
  flex: 0 0 475px;
  min-width: 475px;
  padding: 50px 30px;
  background-color: #fafafa;
}
@media (max-width: 767px) {
  .payment__main .payment__right {
    padding: 20px 10px;
    min-width: inherit;
    flex: 0 0 auto;
  }
}

.product__payments {
  position: sticky;
  top: 130px;
}
.product__payments .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .product__payments .item {
    padding-bottom: 20px;
  }
}
.product__payments .item .img {
  width: 90px;
  height: 90px;
  flex: 0 0 90px;
  margin-right: 15px;
  position: relative;
}
@media (max-width: 767px) {
  .product__payments .item .img {
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
    margin-right: 10px;
  }
}
.product__payments .item .img[data-count-product]:after {
  content: attr(data-count-product);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 34px;
  height: 34px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .product__payments .item .img[data-count-product]:after {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}
.product__payments .item .img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}
@media (max-width: 767px) {
  .product__payments .item .img img {
    border-radius: 16px;
  }
}
.product__payments .item h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: auto;
}
@media (max-width: 767px) {
  .product__payments .item h3 {
    font-size: 16px;
    line-height: 1.2;
  }
}
.product__payments .item .price {
  padding-left: 20px;
}
.product__payments .item .price p {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .product__payments .item .price p {
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
  }
}
.product__payments .item .price .cart__count {
  zoom: 0.7;
}
.product__payments .total {
  padding: 20px 0;
  border-top: 1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__payments .total span {
  font-size: 21px;
  line-height: 27px;
}
.product__payments .total b {
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
}

.day__delivery {
  margin-bottom: 50px;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .day__delivery {
    margin-bottom: 20px;
  }
}
.day__delivery .checkboxes {
  display: flex;
  flex-wrap: wrap;
}
.day__delivery .checkboxes input {
  display: none;
}
.day__delivery .checkboxes input:checked + label {
  background: #f89525;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  color: #fff;
}
.day__delivery .checkboxes label {
  cursor: pointer;
  background: #e5e5e5;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  font-size: 17px;
  line-height: 25px;
  margin-right: 15px;
  min-width: 100px;
  text-align: center;
  margin-bottom: 15px;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .day__delivery .checkboxes label {
    font-size: 16px;
    line-height: 20px;
    min-width: 80px;
    margin-right: 10px;
  }
}
.day__delivery .checkboxes label:last-child {
  margin-right: 0;
}

.accordion * {
  font-size: 17px;
  line-height: 25px;
}
@media (max-width: 767px) {
  .accordion * {
    font-size: 15px;
    line-height: 20px;
  }
}
.accordion .btn__green {
  line-height: 60px;
  min-width: 290px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .accordion .btn__green {
    min-width: 100%;
    font-size: 16px;
    line-height: 50px;
  }
}
.accordion .card {
  margin-bottom: 20px;
  border: 2px solid #e5e5e5 !important;
  border-radius: 10px !important;
}
.accordion .card:last-child {
  margin-bottom: 0;
}
.accordion .card .card-header {
  border: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  margin: 0;
}
@media (max-width: 767px) {
  .accordion .card .card-header {
    padding: 10px;
  }
}
.accordion .card .card-header.collapsed .arrow {
  transform: rotate(-90deg);
}
.accordion .card .card-header .arrow {
  transition: all 0.3s;
  margin-right: 12px;
  transform: rotate(0deg);
}
.accordion .card .card-header .time {
  font-size: 17px;
  line-height: 25px;
  margin-right: auto;
  font-weight: bold;
}
.accordion .card .card-header .status {
  font-size: 17px;
  line-height: 25px;
  font-weight: bold;
}
.accordion .card .card-header .status .status__active {
  font-size: 17px;
  line-height: 25px;
  font-weight: bold;
  color: #6ac187;
}
.accordion .card .card-header .status .status__cancelled {
  font-size: 17px;
  line-height: 25px;
  font-weight: bold;
  color: #f04f63;
}
.accordion .card .card-header .status .status__stopped {
  font-size: 17px;
  line-height: 25px;
  font-weight: bold;
  color: #f89521;
}
.accordion .card .card-header .change {
  font-size: 17px;
  line-height: 25px;
  color: #2e96ff;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .accordion .card .card-header .change {
    font-size: 15px;
  }
}
.accordion .card .card-body {
  padding: 15px 20px;
}
@media (max-width: 767px) {
  .accordion .card .card-body {
    padding: 15px 10px;
  }
}
.accordion .card .card-body .information {
  margin-bottom: 10px;
}
.accordion .card .card-body .information span {
  min-width: 75px;
  padding-right: 10px;
  display: inline-block;
}
@media (max-width: 767px) {
  .accordion .card .card-body .information span {
    display: block;
  }
}

#myTabProfile {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  #myTabProfile {
    margin-bottom: 0;
  }
}
#myTabProfile li {
  margin-right: 40px;
}
@media (max-width: 767px) {
  #myTabProfile li {
    width: 50%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
#myTabProfile li a {
  font-size: 17px;
  line-height: 25px;
  border-bottom: 1px solid transparent;
}
@media (max-width: 767px) {
  #myTabProfile li a {
    font-size: 15px;
  }
}
#myTabProfile li a.active {
  color: #6ac187;
  border-bottom-color: #6ac187;
}

.card-body.hist {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .card-body.hist {
    flex-direction: column-reverse;
  }
}
.card-body .card__left {
  padding-top: 15px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .card-body .card__left {
    padding-top: 0;
    padding-right: 0;
  }
}
.card-body .card__left h5 {
  margin-bottom: 10px;
  text-decoration: underline;
  color: #ffffff;
  font-weight: bold;
}
.card-body .card__left .row > div:first-child, .card-body .card__left .row > div:nth-child(2) {
  margin-bottom: 95px;
}
@media (max-width: 991px) {
  .card-body .card__left .row > div:first-child, .card-body .card__left .row > div:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .card-body .card__left .row > div:nth-child(3) {
    margin-bottom: 30px;
  }
}
.card-body .card__left .row p {
  font-weight: bold;
  color: #ffffff;
}
.card-body .card__left .row p span {
  display: inline-block;
  min-width: 120px;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 767px) {
  .card-body .card__left .row p span {
    min-width: inherit;
    padding-right: 10px;
  }
}
.card-body .card__right {
  padding-left: 20px;
  border-left: 1px solid #e5e5e5;
  min-width: 440px;
}
@media (max-width: 991px) {
  .card-body .card__right {
    border-left: 0;
    padding-left: 0;
    min-width: 100%;
  }
}
.card-body .card__right .product__payments {
  position: static;
  padding-top: 30px;
}

.change__history__orders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .change__history__orders {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.change__history__orders a {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 32px;
  border-radius: 10px;
  border: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .change__history__orders a {
    height: 50px;
    margin-bottom: 10px;
  }
}
.change__history__orders a:hover {
  opacity: 0.8;
}
.change__history__orders a.disabled {
  background-color: #e5e5e5 !important;
  color: #bebebe !important;
}
.change__history__orders a.disabled:hover {
  opacity: 1;
}
.change__history__orders .stopped {
  background-color: #f89521;
  color: #fff;
}
.change__history__orders .cancel {
  background-color: #f04f63;
  color: #fff;
}
.change__history__orders .delete__orders__history {
  background-color: #f04f63;
  color: #fff;
  max-width: 90px;
}
@media (max-width: 767px) {
  .change__history__orders .delete__orders__history {
    max-width: 35%;
  }
}
.change__history__orders .delete__orders__history svg path {
  stroke: #fff;
}
.change__history__orders .reload {
  background-color: #6ac187;
  color: #fff;
}
.change__history__orders > a:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .change__history__orders > a:nth-child(2) {
    max-width: calc(65% - 10px);
    margin-left: 0;
    margin-right: 0;
  }
}

.myPagination {
  margin-top: 40px;
  margin-bottom: 50px;
}
.myPagination ul li {
  margin-right: 10px;
}
.myPagination ul li:nth-child(1) a, .myPagination ul li:last-child a {
  background-color: #e5e5e5;
}
.myPagination ul li:nth-child(1) a:hover, .myPagination ul li:last-child a:hover {
  opacity: 0.8;
}
.myPagination ul li a {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 33px;
  height: 33px;
}
.myPagination ul li a:hover {
  background-color: #e5e5e5;
}

.change__profile__area {
  max-width: 770px;
  padding: 30px 50px;
}
@media (max-width: 767px) {
  .change__profile__area {
    padding: 0;
  }
}
.change__profile__area h3 {
  font-size: 25px;
  line-height: 2;
  margin-bottom: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .change__profile__area h3 {
    font-size: 22px;
    line-height: 32px;
  }
}
.change__profile__area .form-group {
  margin-bottom: 30px;
  border: 2px solid #707070;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 70px;
}
@media (max-width: 767px) {
  .change__profile__area .form-group {
    padding: 0 10px;
    height: 50px;
  }
}

section.thank {
  position: relative;
  background: url("../images/bc__soki.svg") no-repeat center left;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 800px;
}
@media (max-width: 1700px) {
  section.thank {
    min-height: 500px;
  }
}
@media (max-width: 1299px) {
  section.thank {
    min-height: calc(100vh - 432px);
  }
}
@media (max-width: 991px) {
  section.thank {
    min-height: calc(100vh - 492px);
  }
}
@media (max-width: 767px) {
  section.thank {
    min-height: calc(100vh - 467px);
  }
}
section.thank h1 {
  text-shadow: 0px 2px 3px rgba(41, 202, 95, 0.1490196078);
  color: #40916C;
  font-size: 100px;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: 900;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 46;
}
@media (max-width: 1299px) {
  section.thank h1 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  section.thank h1 {
    font-size: 32px;
  }
}
section.thank a {
  color: #2e96ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  outline: none !important;
}
@media (max-width: 767px) {
  section.thank a {
    font-size: 15px;
  }
}

.register__user {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
}

.modal-backdrop {
  zoom: 1.25;
}

#myModal.removed .modal-header,
#myModal2.removed .modal-header {
  background-color: #F04F63;
}
#myModal.removed .btn__green,
#myModal2.removed .btn__green {
  background-color: #F04F63 !important;
}
#myModal.removed .btn__green:hover,
#myModal2.removed .btn__green:hover {
  background-color: #ca1d31 !important;
}
#myModal .modal-dialog,
#myModal2 .modal-dialog {
  max-width: 800px;
}
@media (max-width: 991px) {
  #myModal .modal-dialog,
  #myModal2 .modal-dialog {
    max-width: 600px;
  }
}
#myModal .modal-content,
#myModal2 .modal-content {
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background-color: #ebebeb;
}
@media (max-width: 767px) {
  #myModal .modal-content,
  #myModal2 .modal-content {
    border-radius: 12px;
  }
}
#myModal .modal-header,
#myModal2 .modal-header {
  border-radius: 25px;
  background-color: #40916C;
  text-align: center;
  padding: 20px;
}
@media (max-width: 767px) {
  #myModal .modal-header,
  #myModal2 .modal-header {
    padding: 10px;
    border-radius: 12px;
  }
}
#myModal .modal-header .modal-title,
#myModal2 .modal-header .modal-title {
  text-align: center;
  font-size: 45px;
  line-height: 57px;
  color: #fff;
  width: 100%;
  font-weight: bold;
}
@media (max-width: 767px) {
  #myModal .modal-header .modal-title,
  #myModal2 .modal-header .modal-title {
    font-size: 24px;
    line-height: 1.2;
  }
}
#myModal .modal-header button.close,
#myModal2 .modal-header button.close {
  position: absolute;
  right: 22px;
  top: 22px;
  padding: 0;
  opacity: 1;
  margin: 0;
}
@media (max-width: 767px) {
  #myModal .modal-header button.close,
  #myModal2 .modal-header button.close {
    top: 5px;
    right: 5px;
  }
}
@media (max-width: 767px) {
  #myModal .modal-header button.close img,
  #myModal2 .modal-header button.close img {
    max-width: 40px;
  }
}
#myModal .modal-body,
#myModal2 .modal-body {
  padding: 50px;
}
@media (max-width: 767px) {
  #myModal .modal-body,
  #myModal2 .modal-body {
    padding: 20px;
  }
}
#myModal .modal-body p,
#myModal2 .modal-body p {
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  #myModal .modal-body p,
  #myModal2 .modal-body p {
    font-size: 22px;
    font-weight: 500;
  }
}
#myModal .ftr__btns,
#myModal2 .ftr__btns {
  padding: 50px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  #myModal .ftr__btns,
  #myModal2 .ftr__btns {
    padding: 15px;
    padding-top: 0;
  }
}
#myModal .ftr__btns button,
#myModal .ftr__btns a,
#myModal2 .ftr__btns button,
#myModal2 .ftr__btns a {
  width: 100%;
  max-width: calc(50% - 10px);
}
@media (max-width: 767px) {
  #myModal .ftr__btns button,
  #myModal .ftr__btns a,
  #myModal2 .ftr__btns button,
  #myModal2 .ftr__btns a {
    font-size: 13px;
    border-radius: 12px;
    height: 50px;
  }
}

.productSortBtn.row > div {
  margin-bottom: 80px;
}
.productSortBtn.row > div .card {
  margin-bottom: 0;
  height: 100%;
  position: relative;
  padding-bottom: 90px;
}
@media (max-width: 1299px) {
  .productSortBtn.row > div .card {
    padding-bottom: 130px;
  }
}
@media (max-width: 767px) {
  .productSortBtn.row > div .card {
    padding-bottom: 15px;
  }
}
.productSortBtn.row > div .card a.btn__green {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 767px) {
  .productSortBtn.row > div .card a.btn__green {
    position: static;
  }
}

.product__view {
  align-items: center;
}
.product__view img {
  width: 100%;
  max-width: 540px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .product__view img {
    height: 300px;
    border-radius: 30px;
  }
}
.product__view h1 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .product__view h1 {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .product__view h1 {
    margin-top: 30px;
  }
}
.product__view p {
  margin-bottom: 50px;
  font-size: 18px;
}
@media (max-width: 991px) {
  .product__view p {
    margin-bottom: 20px;
  }
}
.product__view h3 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .product__view h3 {
    margin-bottom: 20px;
  }
}
.product__view .form__prod .cart__count {
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .product__view .form__prod .cart__count {
    margin-bottom: 30px;
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .product__view .form__prod .cart__count {
    max-width: 140px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .product__view .form__prod .cart__count button {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .product__view .form__prod .cart__count button svg {
    max-width: 24px;
  }
}
.product__view .form__prod .btn__green {
  display: block;
  padding-left: 70px;
  padding-right: 70px;
}

.wrapper {
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 5;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(20% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.corusel_title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.corusel_title span {
  display: flex;
  width: 100%;
  background-color: black;
  height: 1px;
  margin-top: 15px;
}
.corusel_title h3 {
  color: black;
  font-size: 20px;
  white-space: nowrap;
  margin-bottom: 0;
}
.corusel_title button {
  display: flex;
  align-items: center;
  min-width: 120px;
  justify-content: center;
  gap: 12px;
  padding: 6px 11px;
  position: relative;
  background-color: var(--green);
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
}
.corusel_title button:hover {
  color: var(--white);
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
}
.carousel .card .img-absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  z-index: 999;
}
.carousel .card .card-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.carousel .card .card-right span {
  font-size: 14px !important;
  color: #40916C !important;
  font-weight: 900 !important;
}

.card .img {
  max-width: 330px;
  width: 100%;
}
.card .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
  color: black;
}

.carousel .card h3 {
  margin-top: 5px;
  color: red;
  font-weight: 500;
  font-size: 12px;
}

@media screen and (max-width: 1355) {
  .wrapper .carousel {
    grid-auto-columns: calc(25% - 9px);
  }
}
@media screen and (max-width: 1145px) {
  .wrapper .carousel {
    grid-auto-columns: calc(33.3333333333% - 9px);
  }
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: 50%;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
.wrapper1 {
  width: 100%;
  position: relative;
}

.wrapper1 i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 5;
}

.wrapper1 i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper1 i:first-child {
  left: -22px;
}

.wrapper1 i:last-child {
  right: -22px;
}

.wrapper1 .carousel1 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(20% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel1::-webkit-scrollbar {
  display: none;
}

.carousel1.no-transition {
  scroll-behavior: auto;
}

.carousel1.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel1.dragging .card1 {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.carousel1 :where(.card1, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.corusel_title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.corusel_title span {
  display: flex;
  width: 100%;
  background-color: black;
  height: 1px;
  margin-top: 15px;
}
.corusel_title h3 {
  color: black;
  font-size: 20px;
  white-space: nowrap;
  margin-bottom: 0;
}
.corusel_title button {
  display: flex;
  align-items: center;
  min-width: 120px;
  justify-content: center;
  gap: 12px;
  padding: 6px 11px;
  position: relative;
  background-color: var(--green);
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
}
.corusel_title button:hover {
  color: var(--white);
}

.carousel1 .card1 {
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding: 30px;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
}
.carousel1 .card1 .img-absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  z-index: 999;
}
.carousel1 .card1 .card-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.carousel1 .card1 .card-right span {
  font-size: 14px !important;
  color: #40916C !important;
  font-weight: 900 !important;
}

.card1 .img {
  max-width: 330px;
  width: 100%;
}
.card1 .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #fff;
}

.carousel1 .card1 h2 {
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
  color: black;
}

.carousel1 .card1 h3 {
  margin-top: 5px;
  color: red;
  font-weight: 500;
  font-size: 12px;
}

@media screen and (max-width: 1145px) {
  .wrapper1 .carousel1 {
    grid-auto-columns: calc(33.3333333333% - 9px);
  }
}
@media screen and (max-width: 900px) {
  .wrapper1 .carousel1 {
    grid-auto-columns: 50%;
  }
}
@media screen and (max-width: 600px) {
  .wrapper1 .carousel1 {
    grid-auto-columns: 100%;
  }
}/*# sourceMappingURL=carousel.css.map */