@import '../scss/style.scss';

.wrapper {
    width: 100%;
    position: relative;
}


.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 5;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -11px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mini_up {
        width: 40px;
        height: 40px;
        top: 45%;
    }
}

.wrapper i:last-child {
    right: -11px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mini_up {
        width: 40px;
        height: 40px;
        top: 45%;
    }
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section {
    padding-top: 30px;

    @include mini_up {
        padding-top: 0;
    }
}

.margin-for {
    @include mini_up {
        margin-bottom: 30px;
    }
}

.top_corusul {
    // padding-bottom: 45px;

    @include mini_up {
        padding-bottom: 0;
        padding-top: 0;


        &:first-child {
            padding-top: 30px;
            margin-bottom: 0;
        }

        &:last-child {
            padding-top: 30px;
            // margin-bottom: 30px;
        }


    }

}

.corusel_title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;

    span {
        display: flex;
        width: 100%;
        background-color: black;
        height: 1px;
        margin-top: 15px;
    }

    h3 {
        color: black;
        font-size: 20px;
        white-space: nowrap;
        margin-bottom: 0;
        font-weight: 800;

        @include mini_up {
            font-size: 16px;
        }
    }

    button {
        display: flex;
        align-items: center;
        min-width: 80px;
        justify-content: center;
        gap: 12px;
        padding: 6px 11px;
        position: relative;
        background-color: var(--green);
        border-radius: 10px;
        color: var(--white);
        font-weight: 600;

        &:hover {
            color: var(--white);

        }

        @include mini_up {
            font-size: 12px;
            padding: 4px 8px;
            width: 100px;
        }
    }
}

.carousel .card {
    scroll-snap-align: start;
    // height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    position: relative;

    .img-absolute {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
        z-index: 999;
    }

    .card-right {
        display: flex;
        justify-content: space-between;
        width: 100%;

        span {
            font-size: 14px;
            color: $green;
            font-weight: 900;

            @include mini_up {
                font-size: 11px;
            }
        }
    }

}

//   .carousel .card .img {
//     // background: #8b53ff;
//     // height: 148px;
//     // width: 148px;
//     // border-radius: 50%;
//   }
.card .img {
    width: 100%;

    img {
        // height: 140px;
        // border-radius: 50%;
        width: 100%;
        object-fit: cover;
        border: 4px solid #fff;
    }
}

.carousel .card h2 {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 5px;
    color: black;

    @include mini_up {
        font-size: 13px;
    }
}

.carousel .card h3 {
    margin-top: 5px;
    color: red;
    font-weight: 500;
    font-size: 12px;

    @include mini_up {
        font-size: 12px;
    }
}

// .carousel .card span {
//     color: #6a6d78;
//     font-size: 1.31rem;
// }

@media screen and (max-width: 1355) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 4) - 9px);
    }
}

@media screen and (max-width: 1145px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 3) - 9px);
    }
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}


@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

// carousel1 

.wrapper1 {
    width: 100%;
    position: relative;
}

.wrapper1 i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 5;
}

.wrapper1 i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper1 i:first-child {
    left: -11px;
    right: -11px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mini_up {
        width: 40px;
        height: 40px;
        top: 59%;
    }
}

.wrapper1 i:last-child {
    right: -11px;
    right: -11px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mini_up {
        width: 40px;
        height: 40px;
        top: 59%;
    }
}

.wrapper1 .carousel1 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}



.carousel1::-webkit-scrollbar {
    display: none;
}

.carousel1.no-transition {
    scroll-behavior: auto;
}

.carousel1.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel1.dragging .card1 {
    cursor: grab;
    user-select: none;
}

.carousel1 :where(.card1, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

// .corusel_title {
//     display: flex;
//     align-items: center;
//     gap: 20px;
//     margin-bottom: 10px;

//     span {
//         display: flex;
//         width: 100%;
//         background-color: black;
//         height: 1px;
//         margin-top: 15px;
//     }

//     h3 {
//         color: black;
//         font-size: 20px;
//         white-space: nowrap;
//         margin-bottom: 0;
//     }

//     button {
//         display: flex;
//         align-items: center;
//         min-width: 120px;
//         justify-content: center;
//         gap: 12px;
//         padding: 6px 11px;
//         position: relative;
//         background-color: var(--green);
//         border-radius: 10px;
//         color: var(--white);
//         font-weight: 600;

//         &:hover {
//             color: var(--white);

//         }
//     }
// }

.carousel1 .card1 {
    scroll-snap-align: start;
    // height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding: 30px;
    flex-direction: column;
    border-radius: 8px;
    position: relative;

    .img-absolute {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
        z-index: 999;
    }

    .card-right {
        display: flex;
        justify-content: space-between;
        width: 100%;

        span {
            font-size: 14px !important;
            color: $green !important;
            font-weight: 900 !important;
        }
    }
}

//   .carousel .card .img {
//     // background: #8b53ff;
//     // height: 148px;
//     // width: 148px;
//     // border-radius: 50%;
//   }
.card1 .img {
    max-width: 330px;
    width: 100%;

    img {
        // height: 140px;
        // border-radius: 50%;
        width: 100%;
        object-fit: cover;
        border: 4px solid #fff;
    }
}

.carousel1 .card1 h2 {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 5px;
    color: black;
}

.carousel1 .card1 h3 {
    margin-top: 5px;
    color: red;
    font-weight: 500;
    font-size: 12px;
}

// .carousel .card span {
//     color: #6a6d78;
//     font-size: 1.31rem;
// }

@media screen and (max-width: 1145px) {
    .wrapper1 .carousel1 {
        grid-auto-columns: calc((100% / 3) - 9px);
    }
}

@media screen and (max-width: 900px) {
    .wrapper1 .carousel1 {
        grid-auto-columns: calc((100% / 2)-5px);
    }
}



@media screen and (max-width: 600px) {
    .wrapper1 .carousel1 {
        grid-auto-columns: 100%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper1 .carousel1 {
        grid-auto-columns: calc((100% / 2)-5px);
    }
}