// variable
$white: #ffffff;
$black: #000;
$green: #40916C;
$green_hover: #40916C;

@mixin desk {
  @media (max-width: 1700px) {
    @content;
  }
}

@mixin ipad_pro_up {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin ipad_pro {
  @media (max-width: 1299px) {
    @content;
  }
}

@mixin ipad_ipad {
  @media (max-width: 1025px) {
    @content;
  }
}

@mixin ipad {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin ipad_mini {
  @media (max-width: 850px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 770px) {
    @content;
  }
}

@mixin mobile_pro {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin mini_up_up {
  @media (min-width: 501px) {
    @content;
  }
}

@mixin mini_up {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin mini_pro {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin mini {
  @media (max-width: 350px) {
    @content;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

// input[type="number"] {
//   -moz-appearance: textfield;
// }

body * {
  font-family: 'Poppins', sans-serif;
  letter-spacing: .2px;
  color: $white;
}

.container {
  max-width: 1700px;

  @include ipad_pro {
    padding-left: 70px;
    padding-right: 70px;
  }

  @include ipad_ipad {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include mini_up {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

label {
  color: $black;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
    // border-bottom: 1px solid $white;
    // padding-bottom: 10px;
  }
}



.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.me-1 {
  margin-right: 12px;
}

// p {
//   color: $white;
// }

// .dropdown {
//   position: relative;
//   z-index: 5;

//   &:hover {
//     .dropdown__body {
//       opacity: 1;
//       z-index: 6;
//       pointer-events: auto;
//       transform: translateY(0);
//     }
//   }

//   &__top {
//     padding: 0;
//     cursor: pointer;
//     background: url("../images/arrow_down.svg") no-repeat center right;
//     background-size: 12px auto;
//     padding-right: 20px;
//   }

//   &__body {
//     position: absolute;
//     top: 100%;
//     left: auto;
//     right: 0;
//     text-align: right;
//     // min-width: 200px;
//     pointer-events: none;
//     display: flex;
//     flex-direction: column;
//     background: #ffffff;
//     box-shadow: 0px 4px 20px rgba(164, 147, 147, 0.25);
//     border-radius: 5px;
//     padding: 10px;
//     opacity: 0;
//     transition: all 0.3s linear;
//     transform: translateY(5px);

//     a {
//       padding: 5px 10px;
//       white-space: nowrap;
//     }
//   }
// }
.advantages-title {
  h2 {
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: black;

    @include mini_up {
      font-size: 20px;
      margin-left: 20px;
    }
  }
}

.advantages_info {
  padding: 30px;
  background-color: white;

  @include mobile {
    padding: 30px 15px;
  }

  h2 {
    text-align: center;
    color: $black;
    margin-bottom: 0;
  }

  @include mini_up {
    h2 {
      font-size: 18px !important;

    }

    p {
      font-size: 12px;
    }
  }
}

.btn__green {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 30px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  background: $green;
  padding: 0 30px;
  cursor: pointer;
  border: 0;
  outline: none !important;

  &:hover {
    color: #fff;
    background-color: $green_hover;
  }
}

.btn__register {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px #00000029;
  background-color: #fff;
  border-radius: 30px;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 0 30px;
  cursor: pointer;
  border: 0;
  outline: none !important;

  &:hover {
    color: $green;
  }
}

// a.register {
//   font-weight: bold;
//   text-transform: uppercase;
// }

body {
  padding-top: 80px;
  background-color: #F6F9FC;

  @include ipad_ipad {
    padding-top: 80px;
  }

  // @include ipad_pro {
  //   zoom: 1;
  // }

  @include mobile {
    padding-top: 60px;
  }

  #menu-toggle {
    display: none;

    @include ipad {
      display: block;
    }

    @include mobile_pro {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }

    @include mini {
      width: 20px;
      height: 20px;
      margin-bottom: 8px;
    }
  }

  .menu_block {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-right: 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  #menu-two {
    display: none;
  }

  #menu-list {
    position: absolute;
    max-width: 450px;
    width: 100%;
    height: 100vh;
    top: 60px;
    display: none;
    left: 0;
    background-color: #fff;
    box-shadow: 1px 2px 2px 2px #00000045;
    padding: 25px;
    padding-bottom: 20px;
    border-radius: 0px 15px 15px;
    transition: all 0.3s linear;
    gap: 10px;
    flex-direction: column;
    align-items: start;

    @include mini_up {
      border-radius: 0;
      max-width: 350px;
    }

    a {
      color: #52769eff;
      font-weight: 900;
      font-size: 18px;
      padding-bottom: 2px;
      margin-bottom: 5px;
      transition: all 0.3s ease-out;
      border-bottom: 1px solid transparent;
    }

    a:hover {
      border-bottom: 1px solid #52769eff;
    }

    li {
      &:nth-last-child(-n+2) {
        display: none;
      }

      @include mini_up {
        &:nth-last-child(-n+2) {
          display: block;
        }
      }
    }
  }

  #group {
    @include ipad {
      display: none;
    }
  }

  // &.open__menu {
  //   height: 100vh;
  //   overflow: hidden;

  //   .mobile__sidebar {
  //     background: #fff9dc url("../images/bc__main.png") no-repeat right bottom;
  //     background-size: cover;
  //     transform: translateY(0);
  //     opacity: 1;
  //     transition: transform 0.6s;
  //     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  //   }
  // }
}

header {
  box-shadow: 0px 4px 10px #0000001a;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  background: var(--green);
  padding: 12px 0;
  // height: 70px;
  box-shadow: 0px 4px 10px #00000026;

  @include mobile {
    padding: 8px 0 7px;
    height: 60px;
  }

  @include mini_pro {
    display: flex;
    align-items: center;
  }

  .hdr__main.container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .hdr__main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include ipad {
      justify-content: flex-start;
    }



    @include mini_pro {
      padding-left: 15px;
      padding-right: 15px;
    }

    .logo {
      display: block;

      @include ipad_pro {
        margin-right: auto;
      }

      @include mobile_pro {
        width: 100px;
      }

    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin: 0 50px;
        letter-spacing: normal;

        a {
          font-size: 16px;
          line-height: 150%;
          font-weight: 400;

          &:hover {
            border-bottom: 1px solid $white;
            padding-bottom: 10px;
          }

          &.active {
            border-bottom: 1px solid $white;
            padding-bottom: 10px;
          }
        }

        @include ipad_ipad {
          margin: 0 20px;
        }
      }
    }

    // right
    .right-side {
      display: flex;
      gap: 20px;

      @include ipad {
        margin-left: auto;
      }

      @include mini_pro {
        gap: 10px;
      }

      .group-left {
        display: flex;
        align-items: center;
        gap: 20px;

        .about {

          input {
            outline: none;
            border: none;
            padding: 2px 7px;
            height: 30px;
            border-radius: 10px;
            background: none;
            width: 100px;

            &::placeholder {
              color: white;
            }

            @include mobile_pro {
              font-size: 14px;
              width: 80px;
              margin-right: 0;
            }

            @include mini {
              &::placeholder {
                color: #c0c0c0;
              }

              font-size: 12px;
              background-color: $white;
              color: $black;
            }
          }

          @include mobile_pro {
            img {
              width: 15px;
              height: 15px;

            }
          }

          @include mini {
            img {
              display: none;
            }
          }

        }

        @include mini_pro {
          .line {
            display: none;
          }

        }
      }

      .group-right {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;

        @include ipad_pro {
          gap: 10px;
        }

        .language {
          cursor: pointer;

          @include mini {
            img {
              width: 25px;
              height: 20px;
            }
          }
        }

        #korzinka_info {
          display: none;
          position: absolute;
          width: 500px;
          right: 0;
          border-radius: 0px 5px 5px;
          top: 59px;
          box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.424);
          background-color: #fff;
          padding: 20px 10px;

          @include mobile {
            top: 52px;
          }

          @include mini_up {
            display: none;
          }

          .every-product-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin-top: 10px;
            padding: 17px 15px;
            border-radius: 20px;
            box-shadow: 0px 0px 4px #00000040;

            &:first-child {
              margin-top: 0;
            }
          }

          .every-product-title {
            h3 {
              color: $black;
              font-size: 16px;
            }

            p {
              color: $green;
              font-size: 14px;
              margin-bottom: 0;
            }
          }

          .every-product-sum {
            display: flex;
            gap: 10px;

            p {
              color: $black;
              margin-bottom: 0;
            }
          }

          .every-product-img {
            width: 30px;
            height: 30px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .every-product-footer {
            margin-top: 20px;

            p {
              color: $black;
            }

            .every-product-footer-count {
              display: flex;
              justify-content: space-between;
            }

            .every-product-footer-button {
              display: flex;
              flex-direction: column;
              gap: 10px;
              font-weight: normal;

              a {
                border-radius: 6px;
                color: $white;
                font-size: 16px;

                &:first-child {
                  background-color: var(--green);
                }

                &:last-child {
                  background-color: #F7892E;
                }
              }
            }
          }

        }

        .language_block {
          width: 150px;
          display: none;
          position: absolute;
          border-radius: 0px 5px 5px;
          top: 60px;
          box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.424);
          background-color: #fff;
          right: 0;

          p {
            color: $black;
            margin-bottom: 0;
          }

          a {
            display: flex;
            align-items: center;
            color: #000;
            gap: 5px;
            font-size: 17px;
            font-weight: 900;
            padding: 10px 20px;
            transition: all 0.5s linear;

            img {
              width: 25px;
              height: 25px;
              object-fit: contain;


            }
          }

          a:hover {
            background-color: #0000000f;
            border-radius: 4px;
          }
        }

        img {
          @include mobile_pro {
            width: 20px;
            height: 15px;
          }

        }
      }

      @include mini_up() {

        .korzinka {
          display: none;
        }
      }
    }

    .lang {
      width: 40px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 5px;
      flex-direction: column;
      overflow: hidden;
      flex: 0 0 40px;

      @include mobile {
        flex: 0 0 40px;
        height: 40px;
        width: 40px;
        margin-right: 20px;
      }

      &:hover {
        a.active {
          transform: translateY(-100%);

          &+a {
            transform: translateY(-100%);
          }
        }
      }

      @include ipad_pro {
        a.active {
          display: none !important;
        }
      }

      a {
        line-height: 60px;
        width: 60px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
        font-size: 24px;

        @include ipad_pro {
          transform: translateY(0) !important;
        }

        @include mobile {
          line-height: 40px;
          width: 40px;
          font-size: 13px;
        }
      }
    }

    .sign-block {
      display: none;
      cursor: pointer;
      width: 250px;
      position: absolute;
      border-radius: 0px 5px 5px;
      top: 59px;
      box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.424);
      background-color: #fff;
      right: 0;

      .sign-name {
        color: $black;
        padding: 20px 10px;
        border-bottom: 1px solid #DFDFDF;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: start;

        li {
          margin: 0;
          width: 100%;
          margin: 10px 0;

          &:hover {
            background-color: rgba(0, 0, 0, 0.04);
            border-bottom: none;
            padding-bottom: 0;
          }

          a {
            display: flex;
            width: 100%;
            gap: 20px;
            margin: 10px 20px;

            &:hover {
              border-bottom: none;
              padding-bottom: 0;
            }
          }

        }

        .sing-li-top {
          margin-bottom: 0;
        }



        &:first-child {
          margin-top: 20px;
        }

        p {
          color: $black;
          margin-bottom: 0;
        }
      }
    }

    a.cart {
      width: 60px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #f0f0f0;
      box-shadow: 0px 2px 4px #00000029;
      border-radius: 50%;
      margin-right: 90px;
      flex: 0 0 60px;
      position: relative;

      &[data-product-cart]:after {
        content: attr(data-product-cart);
        position: absolute;
        top: -10px;
        right: -10px;
        width: 34px;
        height: 34px;
        background-color: #F04F63;
        border-radius: 50%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 600;

        @include mobile {
          width: 20px;
          height: 20px;
          min-width: 20px;
          font-size: 14px;
        }
      }

      @include mobile {
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        margin-right: 40px;
      }

      svg {
        path {
          transition: all 0.3s;
        }
      }

      &:hover {
        background-color: rgba(#f0f0f0, 0.8);

        svg {
          path {
            fill: $green;
            fill: #000;
          }
        }
      }
    }

    a.register {
      margin-left: 30px;
    }
  }

  // .hamburger {
  //   display: none;

  //   svg {
  //     width: 60px;
  //     height: auto;

  //     @include mobile {
  //       width: 35px;
  //     }
  //   }

  //   @include ipad_pro {
  //     display: block;
  //   }
  // }
}

.info-delivery {
  .container {
    @include ipad_pro_up {
      height: 100%;
    }
  }

  @include mini_up {
    margin-top: 30px;
  }
}

.product-id-info {
  display: flex;


  .left-id-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 80%;

    @include ipad {
      width: 100%;
    }

    @include mobile {
      gap: 20px;
    }

    @include mini_up {
      flex-direction: column-reverse;
      margin-top: 30px;
      align-items: center;
    }
  }

  .id_info_img {
    // max-width: 350px;
    // width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: $white;
    box-shadow: 0px 4px 4px 0px #00000040;
    // height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .id_info_all {
    padding: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: $white;
    border-radius: 10px;
    height: 100%;


    h4 {
      color: $black;
      font-weight: 800;
    }



    .top_product {
      display: flex;
      margin-top: 10px;
      color: var(--green);
      font-weight: 800;
    }

    .buy_info_product {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      justify-content: start;

      button {
        color: $white;
        border-radius: 10px;
        padding: 7px 12px;
        font-weight: 400;
        font-size: 14px;
        outline: none;
        box-shadow: none;
        border: none;

        @include mobile {
          font-size: 13px;
        }

        &:first-child {
          background-color: var(--green);
        }

        &:last-child {
          background-color: #F7892E;
        }
      }

      @include mobile {
        justify-content: start;
      }

      @include mini_up {
        flex-direction: column;
      }


    }

    .category_product,
    .aviable_product,
    .brand_product,
    .summ_product,
    .code_product,
    .model_product {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      span {
        color: $black;
      }

      @include mobile {
        margin-top: 5px;

        span {
          font-size: 14px;
        }
      }
    }

    .code_product {
      span {
        color: #FE2E2F;
      }
    }

    .category_product {
      span {
        font-weight: 800;
      }

      @include mini {
        flex-direction: column;
      }
    }

    @include mobile {

      h4 {
        font-size: 16px;
      }
    }

    @include mini_up {
      margin-top: 30px;
      padding-bottom: 0;
    }
  }

}

.delivery-service {
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 30px 25px;
  height: 100%;

  @include ipad_ipad {
    margin-top: 30px;
  }

  // @include mini_up {
  //   margin-bottom: 30px;
  // }

  h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: $black;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: $black;
    line-height: 150%;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }

  @include mobile {
    margin-top: 30px;
  }

}

.title-shopping-card {
  color: black;
  font-size: 30px;
  margin-bottom: 0;

  @include mini_up {
    font-size: 22px;
  }
}

.about_product {
  background-color: $white;
  padding: 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
  // margin: 30px 0 0 0;
  border-radius: 10px;

  h4 {
    color: $black;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 800;

    @include mini_up {
      margin-bottom: 20px;
    }
  }

  p {
    color: $black;
  }

  @include mini_up {
    margin-bottom: 30px;
    margin-top: 0;
  }
}

.shopping-info {
  .shopping-left {
    display: flex;
    background-color: $white;
    padding: 20px;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    .shopping-left-info {
      width: 100%;

      p {
        display: flex;
        justify-content: space-between;

        span {
          &:first-child {
            font-weight: 800;
          }
        }
      }

      .delete-shopping {
        span {
          color: #FF0000;
          font-weight: 800;
        }
      }
    }

    .shopping-left-img {
      margin-right: 20px;

      @include mini_up {
        margin-right: 0;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    h5 {
      color: $black;
      font-weight: 800;
    }

    p {

      span {
        color: $black;
        font-weight: 400;

      }
    }

    @include mini_up {
      flex-direction: column;
      align-items: center;
      gap: 30px;

    }
  }

  .delivery_basket {
    display: flex;
    flex-direction: column;

    @include mobile {
      margin-top: 30px;
    }

    // .delivery-service {
    //   margin-top: 0;

    //   @include mini_up {
    //     margin-top: 30px;
    //   }
    // }

    .basket_count {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      border-radius: 10px;
      padding: 20px;
      background-color: $white;
      box-shadow: 0px 4px 4px 0px #00000040;
      margin-top: 30px;



      .btn {
        @include ipad_pro_up {
          width: 100%;
        }
      }

      h5 {
        color: $black;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;

        span {
          color: var(--green);

        }
      }

      p {
        color: $black;
        font-size: 16px;
      }

      .line-row {
        position: absolute;
        inset: 0;
        height: 1px;
        border: 1px solid #DFDFDF;
        width: 100%;
        top: 130px;

        @include ipad_pro_up {
          top: 105px;
        }
      }

      .btn {
        background-color: var(--green);
        padding: 10px 30px;
        color: $white;
        margin-top: 20px;
        min-width: 100px;
      }


      @include ipad {
        height: 270px;
      }

      @include mobile {
        padding: 15px 30px;
        margin-top: 0;
        height: 200px;
      }

    }

    @include ipad {
      flex-direction: row;
      justify-content: center;
    }

    @include mini_up {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  @include ipad {
    flex-direction: column;
  }


}

.payment-info-title {
  color: black;
  font-size: 30px;
  margin-bottom: 0;

  @include mini_up {
    font-size: 20px;
  }
}

.payment-info {

  .payment-body {
    background-color: $white;
    padding: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;


    .row {
      margin-bottom: 30px;

      label {
        font-weight: 800;
      }

      input,
      select {
        width: 100%;
        height: 40px;
        border: 1px solid #DFDFDF;
        border-radius: 10px;
        margin-top: 5px;
        color: $black;
        padding: 5px 10px;
        margin-bottom: 10px;

        &:focus-visible {
          outline: none;
        }
      }

      option {
        color: $black;
      }
    }

    .payment-brand,
    .payment-model {
      color: $black;

    }

    .payment-brand {
      font-weight: 800;
    }

    .link-buy {
      display: flex;
      align-items: center;

      button {
        background-color: var(--green);
        color: $white;
        height: 42px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        color: var(--green);
        margin-left: 50px;

        @include mini_up {
          margin-left: 0;
          margin-top: 20px;
        }
      }

      @include mini_up {
        flex-direction: column;
      }
    }

    @include mini {
      padding: 15px;
    }
  }

  .basket_count {
    background-color: $white;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;

    @include ipad_pro_up {
      height: 100%;
    }

    h5 {
      color: $black;
      text-align: center;
      font-weight: 800;

      span {
        color: var(--green);
      }

      @include mini {
        font-size: 14px;
      }


    }

    .all-info-summ {
      display: flex;
      justify-content: space-between;
    }

    p {
      margin-top: 20px;
      color: $black;
      text-align: center;
      font-weight: 800;
      font-size: 18px;

      @include mini {
        font-size: 14px;
        margin: 10px 0;
      }
    }

    .basket-count-info {
      max-height: 220px;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;

      @include ipad_pro_up {
        max-height: 250px;
      }

      @include ipad_pro {
        max-height: 260px;
      }

      &::-webkit-scrollbar {
        border-radius: 10px;
        width: 10px;
        height: 5px;
        background: #DFDFDF;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--green);
        border-radius: 10px;
        height: 5px !important;
      }

      .info-buy {
        border-top: 1px solid #DFDFDF;
        padding-top: 10px;
        margin-top: 10px;
        display: flex;
        align-items: center;

        img {
          width: 35px;
          height: 35px;
          margin-right: 20px;
        }

        h4 {
          color: $black;
          font-size: 12px;
          display: flex;
          gap: 10px;

          .count-top {
            display: none;

            @include mobile {
              display: block;
            }

            @include mobile_pro {
              display: none;
            }
          }
        }

        span {
          color: $black;
          font-size: 12px;
        }

        .delete-shopping {
          color: #E25A5A;

          img {
            width: 10px;
            height: 10px;
            margin-bottom: 3px;
            margin-right: 10px;
          }
        }

        .count-to-buy {
          display: flex;
          justify-content: space-between;

          span {
            color: $black;

            &:last-child {
              margin-right: 5px;
            }
          }

          .count-left {
            display: block;

            @include mobile {
              display: none;
            }

            @include mobile_pro {
              display: block;
            }
          }

        }
      }
    }

    @include mobile {
      margin-top: 30px;
    }

    @include mini_up {
      margin-bottom: 30px;
    }
  }


}

// .navigation {
//   margin-right: 70px !important;
// }

.products {
  padding-top: 0;

  .container {
    display: flex;
    gap: 30px;

    .body-none {
      @include mobile {
        display: none;
      }
    }

    @include ipad_mini {
      flex-direction: column;
      gap: 15px;
    }
  }

  .main_products {
    h1 {
      margin-bottom: 0;
    }

    @include ipad_mini {
      display: none;
    }
  }

  .select_products {
    display: none;

  }

  @include ipad_mini {
    .select_products {
      display: block;
      margin-top: 30px;

      @include mini_up {
        margin-top: 30px;
      }

      h4 {
        color: $black;

        @include mini_up {
          text-align: center;
        }
      }

      div {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        @include mini_up {
          gap: 15px;
        }

        @include mini_up {
          justify-content: center;
        }
      }

      select {
        height: 38px;
        width: 227px;
        border-radius: 10px;
        outline: none;
        color: $black;
        padding: 5px;
        border: 1px solid #DFDFDF;

        @include mini_up {
          width: 100%;
        }

        &::placeholder {
          color: $black;
        }

        option {
          color: $black;

        }
      }
    }
  }

  .body_products {

    .up-margin {
      @include ipad_pro_up {
        margin-top: 10px;
      }

      @include ipad_ipad {
        margin-top: 10px;
      }
    }

    .info_products {
      max-height: 410px;
      height: 100%;
      background-color: $white;
      box-shadow: 0 0px 1px 0 #00000040;
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;

      img {
        width: 100%;
      }

      h3 {
        color: $black;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 800;

        @include ipad_ipad {
          font-size: 13px;
        }
      }

      p {
        color: #FF0000;

        @include ipad_ipad {
          font-size: 12px;
        }
      }

      .products_summ {
        display: flex;
        justify-content: space-between;

        span {
          display: block;
          color: var(--green);
          font-weight: 800;

          @include ipad_ipad {
            font-size: 12px;

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 30px;

  }

  h1 {
    color: $black;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .sidebar_card {
    border-radius: 10px;
    position: relative;
    background-color: $white;
    box-shadow: 0 0 4px #DFDFDF;
    padding: 20px 10px;

    h4 {
      color: $black;
      font-weight: 800;
      margin-left: 20px;
      font-size: 18px;
    }

    .line_product {
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #DFDFDF;
      inset: 0;
      top: 50px;
    }

    .brands_list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      .line_product {
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #DFDFDF;
        inset: 0;
        top: 50px;
      }



      .checkbox_item {
        display: flex;

        p {
          color: $black;
          margin-bottom: 0;
          margin-left: 10px;
        }
      }
    }

    form {
      display: flex;
      gap: 20px;
      height: 38px;

      input,
      button {
        height: 100%;
      }

      input {
        outline: none;
        border-radius: 6px;
        border: 1px solid #DFDFDF;
        padding: 10px;

      }

      button {
        width: 38px;
        border: 1px solid #DFDFDF;
        background: none;
        border-radius: 6px;
      }
    }


  }

  .category_list {

    h4 {
      font-weight: 800;
      margin-bottom: 20px;
      margin-left: 20px;
    }

    h4,
    a {
      color: $black;

    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;


      li {
        a {
          @include ipad_ipad {
            font-size: 14px;
          }

          @include mini_up {
            font-size: 12px;
          }
        }

        &.active {

          a,
          span,
          img {
            color: var(--green);
          }
        }

        display: flex;
        justify-content: space-between;


        img {
          margin-right: 10px;
        }

        span {
          display: block;
          color: $black;
        }
      }


    }
  }
}

.mobile__sidebar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff9dc url("../images/bc__main.png") no-repeat right bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.6s;
  padding: 30px;
  padding-top: 60px;
  height: 100vh;
  // opacity: 0;

  .close {
    position: absolute;
    right: 30px;
    top: 30px;

    svg {
      width: 60px;
      height: auto;

      @include mobile {
        width: auto;
      }
    }
  }

  ul {
    @include mobile {
      width: 100%;
    }

    li {
      margin-bottom: 30px;

      @include mobile {
        margin-bottom: 20px;
      }

      a {
        font-size: 60px;

        @include ipad_pro {
          &.active {
            font-weight: 700;
          }
        }

        @include ipad {
          font-size: 40px;
        }

        @include mobile {
          font-size: 35px;
          line-height: 44px;
        }
      }
    }

    margin-bottom: 60px;
  }

  .btn__green {
    font-size: 40px;
    margin-bottom: 30px;
    min-width: 400px;
    height: 80px;

    @include ipad {
      font-size: 30px;
      height: 60px;
      min-width: 300px;
    }

    @include mobile {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }

  .register {
    font-size: 40px;

    @include ipad {
      font-size: 30px;
    }

    @include mobile {
      font-size: 20px;
      line-height: 25px;
    }
  }
}

section {
  padding: 30px 0;

  @include ipad_pro {
    overflow: hidden;
  }

  @include mobile {
    padding: 30px 0;
  }
}

// .search_block {
//   width: 30px;
//   height: 30px;
// }

// .search-btn {
//   width: 40px;
//   height: 40px;
//   font-size: 25px;
//   background-color: #fff;
//   color: rgb(87, 86, 86);
//   border: none;
//   cursor: pointer;
//   position: absolute;
//   transition: all 0.25s ease;
// }

// .search-box {
//   width: 40px;
//   height: 40px;
//   padding: 15px;
//   border-radius: 25px;
//   background-color: #fff;
//   color: rgb(0, 0, 0);
//   outline: none;
//   border: none;
//   transition: width 0.25s ease;
// }

// .search {
//   display: flex;
//   align-items: center;
// }

// .active .search-box {
//   width: 250px;
// }

// .active .search-btn {
//   transform: translate(210px, 2px) scale(0.8);
//   background-color: transparent;
// }

section.general {
  padding: 80px 0 100px;
  background-position: center;
  background-size: cover;

  @include mobile {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  h1 {
    text-shadow: 0px 2px 3px #29ca5f26;
    color: $white;
    font-size: 100px;
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: 900;

    @include ipad_pro {
      font-size: 60px;
    }

    @include mobile {
      font-size: 45px;
    }
  }

  // .swiper-slide {

  //   // opacity: 0 !important;
  //   // &.swiper-slide-active {
  //     // opacity: 1 !important;
  //   // }
  // }

  .row {
    align-items: center;

    @include ipad_pro {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
    }

    img {
      max-width: 100%;
      height: 400px;
      width: 400px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;

      @include mobile {
        height: 220px;
        width: 220px;
        max-width: 220px;
      }
    }

    p {
      font-size: 47px;
      line-height: 55px;
      margin-bottom: 40px;

      @include mobile {
        font-size: 22px;
        line-height: 25px;
      }
    }
  }

  .btn__green {
    font-size: 35px;
    min-width: 300px;
    text-transform: initial;

    @include mobile {
      font-size: 25px;
    }
  }
}

h1 {
  margin-bottom: 60px;
  font-size: 83px;
  line-height: 92px;
  color: $white;
  text-shadow: 0 2px 3px #29ca5f26;
  font-weight: 800;

  @include mobile {
    font-size: 40px;
    line-height: 63px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 45px;
  line-height: 57px;
  font-weight: 800;
  padding-bottom: 7px;
  margin-bottom: 35px;
  color: #707070;

  @include mobile {
    font-size: 35px;
    line-height: 44px;
  }
}

section.product__main {
  padding-bottom: 200px;
  position: relative;
  background: url("../images/bc__soki.svg") no-repeat center left;
  background-size: cover;

  @include mobile {
    padding-bottom: 130px;
  }

  .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 110px;

    @include ipad_pro {
      margin-left: -15px;
      margin-right: -15px;
    }

    >div {
      padding-left: 30px;
      padding-right: 30px;

      @include ipad_pro {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .card {
    margin-bottom: 80px;

    @include mobile {
      margin-bottom: 100px;
    }
  }

  &.product__pages {
    padding-bottom: 100px;

    @include mobile {
      padding-bottom: 0;
    }

    .card {
      margin-bottom: 80px;

      @include mobile {
        margin-bottom: 100px;
      }
    }
  }

  .card {
    border: 0;
    border-radius: 0;

    .card-img-top {
      height: 284px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
      border-radius: 61px;
      margin-bottom: 30px;

      @include ipad_pro {
        height: 200px;
      }

      @include ipad {
        height: 280px;
      }

      @include mobile {
        margin-bottom: 20px;
      }
    }

    .card-title {
      font-size: 32px;
      line-height: 37px;
      min-height: 74px;
      margin-bottom: 20px;
      font-weight: bold;

      @include mobile {
        font-size: 28px;
        margin-bottom: 10px;
        min-height: inherit;
      }
    }

    .btn__green {
      width: 100%;

      @include mobile {
        font-size: 20px;
      }

      img {
        margin-right: 30px;

        @include mobile {
          margin-right: 15px;
          max-width: 32px;
        }
      }
    }
  }

  .text {
    margin-bottom: 70px;
  }

  p {
    font-size: 35px;
    line-height: 52px;
    margin-bottom: 40px;
    max-width: 80%;
    color: $white;

    &.composition__product {
      font-size: 18px;
      line-height: 26px;
    }

    @include ipad {
      max-width: 100%;
    }

    @include mobile {
      font-size: 20px;
      line-height: 29px;
    }
  }
}

a.more {
  background-color: #dbdbdb;
  line-height: 60px;
  display: inline-block;
  padding: 0 40px;
  font-size: 32px;
  border-radius: 30px;
  font-weight: bold;

  @include mobile {
    font-size: 25px;
    width: 100%;
    box-shadow: 0px 1px 6px #00000014;
    width: 100%;
    text-align: center;
    border-radius: 51px;
  }
}

footer {
  background-color: var(--green);
  background-size: cover;
  padding: 30px 0;

  .footer-info {
    // align-items: center;

    // div {
    //   @include mini_up {
    //     text-align: center;
    //   }
    // }
    img {
      max-width: 250px;
      width: 100%;
    }

    .only-info {
      display: none;

      @include mini_up {
        display: block;
        font-size: 12px;
        font-weight: 800;
        // margin-top: 10px;
        margin-left: 17px;
      }
    }
  }

  .footer-body {
    display: flex;
    flex-direction: column;

    .body-none-url {
      @include ipad_ipad {
        display: none;
      }
    }

    @include ipad_pro_up {
      ul {
        width: 100%;



        li {
          // text-align: center;
          margin-top: 20px;

          &:first-child {
            margin-top: 0;
          }
        }

      }


    }

    .address-footer {
      margin-top: 10px;
      font-weight: 800;
      font-size: 16px;
      display: none;

      @include ipad_ipad {
        font-size: 14px;
        display: block;
      }

      @include mini_up {
        font-size: 12px;
        display: none;
      }
    }



    @include mini_up {
      justify-content: start;

      div {
        &:first-child {
          flex-direction: column-reverse;

        }
      }
    }

    .body-li-info {
      @include mini_up {
        li {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }


  img {
    width: 100%;

    @include mini_up {
      width: 55%;
      height: 40px;
      margin-bottom: 20px;

    }
  }

  .scan-me {
    img {
      width: 200px;
      height: 200px;

      @include ipad_ipad {
        width: 100%;
        height: 100%;
      }

      @include mini_up {
        width: 150px;
        height: 150px;
        margin-bottom: 0;
      }
    }
  }

  ul {
    li {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0;
      font-weight: bold;
      color: $white;



      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 18px;

        @include ipad_ipad {
          font-size: 14px;
          margin-bottom: 10px;
        }

        @include mobile {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }

      @include ipad_ipad {
        margin-bottom: 10px;
      }

      @include mobile {
        margin-bottom: 5px;
      }
    }
  }

  .address-footer-bottom {
    display: none;

    @include mini_up {
      a {
        font-size: 12px;
        font-weight: 800;
      }

      margin-top: 10px;
      display: block;
    }
  }
}


.pagination {
  display: flex;
  gap: 10px;

  .page-link {
    color: $black;
    border-radius: 6px;
    padding: 7px 12px;
  }

  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);

  }
}

section.info-product {


  .info-product-header {
    padding: 45px 55px 55px 55px;
    border-radius: 10px;
    background-color: $white;

    @include ipad_ipad {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include mini_up {
      padding: 0;
    }

  }

  &:nth-child(odd) {
    .info-product-body {
      flex-direction: row-reverse;
    }
  }

  .info-product-all {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid $black;

    @include mini_up {
      padding: 20px;
    }

    .title {
      font-size: 22px;
      font-weight: 800;

      @include mini_up {
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    a {
      @include mini_up {
        font-size: 10px;
      }
    }
  }

  .info-product-body {
    margin-top: 30px;

    .product-body-left {
      ul {
        .card-body-info {
          padding: 12px;

          @include mini_up {
            padding: 6px;
          }

          h2 {
            font-size: 16px;

            @include ipad_ipad {
              font-size: 10px;
            }
          }

          h3 {
            font-size: 14px;

            @include ipad_ipad {
              font-size: 9px;
              margin-top: 5px;
            }
          }
        }

        .body-none {
          margin-top: 10px;
        }

        @include ipad_ipad {
          .body-none {
            &:nth-child(-n+2) {
              display: none;
            }
          }
        }

        @include ipad_mini {
          .body-none {
            &:nth-child(-n+4) {
              display: none;
            }
          }
        }

      }
    }

    .product-body-right {
      position: relative;
      max-height: 650px;
      height: 100%;
      margin-top: 10px;

      @include ipad_ipad {
        height: 450px;
      }

      @include mobile {
        height: 500px;
      }

      @include mini_up {
        height: 400px;
      }

      span {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: 20px;
        font-weight: 800;

        @include mini_up {
          font-size: 12px;
          left: 20px;
        }
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    .body-top {
      position: relative;

      .top-absolute {
        position: absolute;
        font-size: 14px;
        font-weight: 800;
        bottom: 15px;
        left: 15px;
        color: $green;
        font-weight: 800;

        @include ipad_ipad {
          font-size: 12px;
        }

        @include mini_up {
          font-size: 8px;
          bottom: 8px;
          left: 10px;
        }
      }
    }

    h2 {
      font-size: 16px;
      color: black;
      margin: 0;
      padding: 0;
      line-height: 150%;
    }

    h3 {
      margin-top: 10px;
      color: red;
      font-size: 12px;
      margin-bottom: 0;
    }

    @include mini_pro {
      margin-top: 10px;
    }
  }

  h3 {
    color: black;
  }

  a {
    color: $green;
  }

  @include ipad_pro {
    .info-product-body {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include mini_up {
    .info-product-body {
      flex-direction: column-reverse;
    }
  }

  @include mini_up {
    padding: 15px 0;
  }
}

.main_login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F9FC;

  form {
    border-radius: 10px;
    background: var(--White, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 50px;
    min-width: 300px;

    @include mini_up_up {
      min-width: 500px;
    }

  }

  h1 {
    color: var(--Green, #62BB46);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
  }
}

.form-register {
  .form-group {
    margin-bottom: 20px;
    padding-bottom: 5px;

    label {
      color: #616161;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 5px;
      display: block;
    }

    input {
      background: none;
      border-radius: 8px;
      background: #F5F5F5;
      padding: 10px 15px;
      border: 0;
      outline: none;
      box-shadow: none;
      color: #212121;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28.16px;
      width: 100%;
    }
  }

  .btn-green {
    width: 100%;
    margin-bottom: 20px;
  }
}

.accaunt-all {
  padding-top: 20px;

  h2 {
    font-size: 20px;
    font-weight: 800;
    color: $black;
    margin-bottom: 0;

  }

  .account-img {
    width: 250px;
    height: 250px;

    @include mini_up {
      margin-left: auto;
      margin-right: auto;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .account-info {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 4px 0 #00000040;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;

    .btn {
      margin-top: 20px;
      background-color: var(--green);
      color: $white;
      font-size: 16px;
      height: auto;
      padding: 10px 16px;

      @include mini_up {
        width: 100%;
      }
    }

    .row {
      label {
        font-size: 16px;
        font-weight: 800;
      }

      input {
        width: 100%;
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        margin-top: 5px;
        color: #000;
        padding: 10px 15px;
        margin-bottom: 10px;
      }
    }
  }
}


.toggle_password {
  position: relative;

  span {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 25px;
    bottom: 0;
    height: 52px;
    width: 52px;
    background: url(../images/bx-hide.svg) no-repeat center;
    background-size: 24px auto;
  }

  &.show {
    span {
      background-image: url(../images/bx-show.svg);
    }
  }
}

.forget_password {
  text-align: center;
  color: #000;

  a {
    color: #616161;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.btn {
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  min-width: 200px;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.53px;
  outline: none;
  transition: all .3s;

  /* 176.016% */
  &.btn-green {
    background: var(--Green, #62BB46);
    color: #FFF;

    &:hover {
      background-color: green;
    }
  }
}